*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 120%;
}

#logo{
    text-align: center;
}

#logo img{
    width: 20%;
}

h1{
    padding: 0em;
}

#menu{
    font-size: 1.2em;
}

input[type="checkbox"]:not(:checked) + ul, input[type="checkbox"]:not(:checked) + dl{
    display: none;
}

#menu label{
    text-align: left;
    display: block;
}

#menu label img{
    width: 10%;
}

#menu ul li:first-child, #menu dl dt:first-child{
    padding-top: 1em;
}

#breadcrumbs{
    display: none;
}

body{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto 1fr auto;
    grid-template-areas: "l"
                         "h"
                         "m"
                         "b"
                         "c"
                         "f";
}

article{
    padding: 0em 0.5em;
}

h3{
    padding: 0em 0.5em;
}

hr{
    margin: 1em 0em;
}

footer{
    text-align: center;
    padding: 0.5em 0em;
}

footer ul li{
    display: inline-block;
    padding: 0em 1em;
}

textarea{
    width: 50%;
}

.item{
    flex-basis: 100%;
}

#listagenere li{
    width: 80%;
}

#generi li{
    width: 70%;
}