*{
    margin: 0;
    padding: 0;
}

html, body{
    font-size: 12pt;
    margin: auto;
}

header{
    text-align: center;
    padding: 1em 0em 1em 0em;
    margin: 1em 0em;
}

#breadcrumbs{
    display:none;
}

#menu{
    display: none;
}

main{
    text-align: justify;
    width: auto;
    padding: 2em;
}

footer{
    display: none;
}