*{
    margin:0;
    padding:0;
}

:root{
    --flagColor: #36502A;
    --background: white;
    --textColor: black;
    --linkColor: #438448;
    --visitedLinkColor: #660030;
}
a:link{
    color: var(--linkColor);
}

a:visited{
    color: var(--visitedLinkColor);
}

#breadcrumbs{
    grid-area: b;
    float: left;
    position: left;
    text-align: left;
}


html, body{
    height: 100%;
}

html{
    font-size: 100%;
    line-height: 1.5em;
   /* margin:auto;*/
    background-color: var(--background);
    /*width:100%;*/
}

/* HEADER */
.titolo{
    margin-bottom: 1em;
}

header{
    grid-area: h;
    background-color: var(--flagColor);
    color: var(--textColor);
    text-align: center;
    padding: 1.5em;
    font-size: 1.5em;
}

.navigationHelp{
     position: absolute;
    text-indent: -999em;
}
header h1{
    text-align: center;
}

body{
    max-width: 1024px;
    margin-left: 15%;
    margin-right: 15%;
   /* margin-top: 2em;*/
    display: grid;
    grid-template-columns: 1fr 5fr ;
    grid-template-areas: "h h h  "
                         "m b b"
                         "m c c"
                         "m c c"
                         "f f f ";
}

#menu{
    grid-area: m;
   /* width:5em;*/
    padding:0em 1.0em 1em 0.5em;
    background-color:var(--flagColor) ;

    color: var(--textColor);
    height: 100%;
}

main{
    grid-area: c;
    max-width: 1024px;
}
.genere{
    background-color: var(--flagColor);
}

.listageneri{

    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto; 
 
}

ul.listageneri{
    list-style: none;
    margin-right: 15%;
   /* padding: 0;*/
   /* margin: 0;*/
   
    display: flex;
    
}
  
li.listageneri{
    margin-right: 10px; /* Aggiungi uno spazio tra gli elementi, se lo desideri */
    
}

h2{
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    text-align: center;
    width: 100%;
}

h3:first-of-type::before{
    content: "";
    display: block;
    width: 100%; 
    border-bottom: 3px solid var(--flagColor); 
   
}

/*.titologenere{
    padding-left: 7.5em;
}*/

#loginForm, #registrationForm{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    
   /*position: relative;
    right: 50pt;*/
 
}
nav.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: relative;
    right: 0pt;
}

#cercaForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 50pt;
 
}



/* FOOTER */

footer{
    grid-area: f;
    
    /*width: 100%;*/
    background-color: var(--flagColor);
    color: var(--textColor);
    text-align: center;
    padding: 1em 0em;
    
    border-bottom:3em solid var(--flagColor);   ;
}

footer ul{
    padding: 0.5em;
}

footer ul li{
    display: inline-block;
    padding: 0em 4em;
}
ul{
    list-style: none;
}
/* COMPONENTI */
#componenti{
    margin: auto;
    width: 90%;
    max-width: 1024px;
    padding-top: 1em;
    padding-bottom: 2em;
}

#componenti > dt{
    background-color: var(--flagColor);
    color: var(--txtColor);
    border: 1px solid black;
    padding: 0.5em;
    font-size: 1.1em;
}

#componenti > dd{
    background-color: var(--bgColor);
    border: 1px solid black;
    border-top: none;
    padding: 0.5em;
    margin-bottom: 1em;
}

#componenti > dd img{
    width: 15%;
    float: left;
    margin-right: 1em;
}

.componente dt{
    float: left;
    font-weight: bold;
}
