*{
    margin:0;
    padding:0;
}

:root{
    --flagColor: #36502A;
    --background: white;
    --textColor: black;
    --linkColor: #438448;
    --visitedLinkColor: #660030;
}

a:link{
    color: var(--linkColor);
}

a:visited{
    color: var(--visitedLinkColor);
}

#logo{
    grid-area: l;
    background-color: var(--flagColor);
}

#logo img{
    width: 40%;
    padding: 0.5em;
}

#breadcrumbs{
    grid-area: b;
    padding: 0.5em;
}

html, body{
    margin-left: auto;
    margin-right: auto;
}

html{
    font-size: 100%;
    line-height: 1.5em;
    background-color: var(--background);
}

/* HEADER */

header{
    grid-area: h;
    background-color: var(--flagColor);
    color: var(--textColor);
    text-align: center;
    padding: 1.5em;
    font-size: 1.5em;
    margin: 0em;
}

.navigationHelp{
    position: absolute;
    text-indent: -999em;
}

header h1{
    text-align: center;
}

body{
    max-width: 1280px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "l h"
                         "m b"
                         "m c"
                         "f f";
    height: 100vh;
}

#menu{
    grid-area: m;
    /*width:5em;*/
    padding: 1em;
    background-color: var(--flagColor);
    color: var(--textColor);
}

main{
    grid-area: c;
}

.genere{
    background-color: var(--flagColor);
}

.listageneri{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto; 
}

ul.listageneri{
    list-style: none;
    margin-right: 15%;
    /*padding: 0;*/
    /*margin: 0;*/
    display: flex;  
}
  
li.listageneri{
    margin-right: 10px; 
}

h2{
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    text-align: center;
    padding: 0.5em 1em;
}

h3:first-of-type::before{
    content: "";
    display: block;
    width: 100%; 
    /*border-bottom: 3px solid var(--flagColor);*/
}

form{
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    text-align: center;
    /*padding: 1em;*/
}

form p{
    text-align: left;
    padding-top: 1em;
}

form ul{
    text-align: left;
    padding-left: 1em;
}

fieldset{
    border: none;
    padding: 1em;
}

ol.listabestseller{
    list-style: none;
   
}

ol li{
    display: inline-block; 
    margin-right: 10px; 
}

nav.login{
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
    right: 0pt;
}

#cercaForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 50pt;
}

input[type=text], input[type=password],input[type=mail]{
    outline: none;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], input[type=reset]{
    background-color: #660030;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text]:focus,input[type=password]:focus,input[type=email]:focus{
    border: 3px solid var(--flagColor);
}

main > div{
    text-align: center;
}

/* FOOTER */

footer{
    grid-area: f;
    /*width: 100%;*/
    background-color: var(--flagColor);
    color: var(--textColor);
    text-align: center;
    padding: 1em 0em;
    /*border-bottom:3em solid var(--flagColor);*/
}

footer ul{
    padding: 0.5em;
    list-style: none;
}

footer ul li{
    display: inline-block;
    padding: 0em 4em;
}

/* COMPONENTI */

#componenti{
    margin: auto;
    width: 90%;
    padding-top: 1em;
    padding-bottom: 2em;
}

#componenti > dt{
    background-color: var(--flagColor);
    color: var(--txtColor);
    border: 1px solid black;
    padding: 0.5em;
    font-size: 1.1em;
}

#componenti > dd{
    background-color: var(--bgColor);
    border: 1px solid black;
    border-top: none;
    padding: 0.5em;
    margin-bottom: 1em;
}

#componenti > dd img{
    width: 15%;
    float: left;
    margin-right: 1em;
}

.componente dt{
    float: left;
    font-weight: bold;
}

/*PAGINA 404*/

#nongrid{
    display:block;
}

#pagina{
    position: relative;
    width: 100%;
    height: 100vh;
}

.errore404{
    position: absolute;
    width: 100%;
    height: 100%;    
    background-size: cover;
    background-position: center;
}

.errore404 p{
    text-align: center;
    margin-top: 20%;
    vertical-align:middle;
}

.paper{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../404.png);
    background-size: cover;
    background-position: center;
}

/*ID LIBRI*/

.libri a:hover{
    transform: scale(1.3);
}

#_1984{
    background-image: url("copertine_libri/_1984.jpg");
}

#anna_karenina{
    background-image: url("copertine_libri/anna_karenina.jpg");
}

#cent_anni_di_solitudine{
    background-image: url("copertine_libri/cent_anni_di_solitudine.jpg");
}

#cime_tempestose{
    background-image: url("copertine_libri/cime_tempestose.jpg");
}

#don_chishotte{
    background-image: url("copertine_libri/don_chishotte.jpg");
}

#dune{
    background-image: url("copertine_libri/dune.jpg");
}

#guerra_e_pace{
    background-image: url("copertine_libri/guerra_e_pace.jpg");
}

#harry_potter_e_la_pietra_filosfale{
    background-image: url("copertine_libri/harry_potter_e_la_pietra_filosfale.jpg");
}

#il_caccaitore_di_aquiloni{
    background-image: url("copertine_libri/il_caccaitore_di_aquiloni.jpg");
}

#il_codice_da_vinci{
    background-image: url("copertine_libri/il_codice_da_vinci.jpg");
}

#il_colore_della_magia{
    background-image: url("copertine_libri/il_colore_della_magia.jpg");
}

#il_conte_di_montecristo{
    background-image: url("copertine_libri/il_conte_di_montecristo.jpg");
}

#il_corvo{
    background-image: url("copertine_libri/il_corvo.jpg");
}

#il_dottor_jekill_e_mr_hide{
    background-image: url("copertine_libri/il_dottor_jekill_e_mr_hide.jpg");
}

#il_dottor_zivago{
    background-image: url("copertine_libri/il_dottor_zivago.jpg");
}

#il_fu_mattia_pascal{
    background-image: url("copertine_libri/il_fu_mattia_pascal.jpg");
}

#il_gattopardo{
    background-image: url("copertine_libri/il_gattopardo.jpg");
}

#il_giovane_holden{
    background-image: url("copertine_libri/il_giovane_holden.jpg");
}

#il_grande_gatsby{
    background-image: url("copertine_libri/il_grande_gatsby.jpg");
}

#il_labirinto_del_fauno{
    background-image: url("copertine_libri/il_labirinto_del_fauno.jpg");
}

#il_lupo_della_steppa{
    background-image: url("copertine_libri/il_lupo_della_steppa.jpg");
}

#il_mondo_nuovo{
    background-image: url("copertine_libri/il_mondo_nuovo.jpg");
}

#il_nome_della_rosa{
    background-image: url("copertine_libri/il_nome_della_rosa.jpg");
}

#il_piccolo_principe{
    background-image: url("copertine_libri/il_piccolo_principe.jpg");
}

#il_processo{
    background-image: url("copertine_libri/il_processo.jpg");
}

#il_ritratto_di_dorian_gray{
    background-image: url("copertine_libri/il_ritratto_di_dorian_gray.jpg");
}

#il_rosso_e_il_nero{
    background-image: url("copertine_libri/il_rosso_e_il_nero.jpg");
}

#il_signore_degli_anelli{
    background-image: url("copertine_libri/il_signore_degli_anelli.jpg");
}

#il_vecchio_e_il_mare{
    background-image: url("copertine_libri/il_vecchio_e_il_mare.jpg");
}

#l_isola_misteriosa{
    background-image: url("copertine_libri/l_isola_misteriosa.jpg");
}

#la_caduta_dei_giganti{
    background-image: url("copertine_libri/la_caduta_dei_giganti.jpg");
}

#la_ragazza_con_il_tatuaggio_del_drago{
    background-image: url("copertine_libri/la_ragazza_con_il_tatuaggio_del_drago.jpg");
}

#la_tregua{
    background-image: url("copertine_libri/la_tregua.jpg");
}

#le_cronache_di_narnia{
    background-image: url("copertine_libri/le_cronache_di_narnia.jpg");
}

#l_isola_del_tesoro{
    background-image: url("copertine_libri/l_isola_del_tesoro.jpg");
}

#lo_hobbit{
    background-image: url("copertine_libri/lo_hobbit.jpg");
}

#meta_del_sole_giallo{
    background-image: url("copertine_libri/meta_del_sole_giallo.jpg");
}

#moby_dick{
    background-image: url("copertine_libri/moby_dick.jpg");
}

#orgoglio_e_pregiudizio{
    background-image: url("copertine_libri/orgoglio_e_pregiudizio.jpg");
}

#orgoglio_e_pregiudizio_e_zombie{
    background-image: url("copertine_libri/orgoglio_e_pregiudizio_e_zombie.jpg");
}

#piccole_donne{
    background-image: url("copertine_libri/piccole_donne.jpg");
}

/* EL LIBRO CHE GIRA */

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.book{
    background-color: #fff;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    perspective: 600px;
    position: relative;
}

.book::before{
    content: '';
    position: absolute;
    z-index: 5;
    width: 50%;
    height: 100%;
    right: 50%;
    background-color: #707070;
    border-radius: 20px 0 0 20px;
    transform-origin: center right;
    transform: rotateY(180deg);
    transition: 0.7s ease all;
}

.book:active::before{
    transform: rotateY(0deg);
}

.book .pg{
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.book .pg.pg1{
    background-color: #ee5f2a;
    border-radius: 20px 0 0 20px;
    left: 0;
}

.book .pg.pg2{
    background-color: #30a5da;
    right: 0;
    border-radius: 0 20px 20px 0;
}