*{
    margin:0;
    padding:0;
    font-family: 'OCR A Std', monospace;
}

:root{
    --formColor: #ccecec;
    --flagColor: #008280; /*linkVisitedBodyColor*/
    --background: white;
    --textColor: black;
    --bordercolor:black;
    --linkVisitedMenuColor: white;
    --linkNotVisitedMenuColor: black;
    --menuTextColor: #ffFFBC;
    --linkColor:#0B2114 ;
    --buttonColor: #660030;
    --linkNotVisitedBodyColor: #E0008E;
    --bgcolorextra:#e5d34c1e;
    --bgColorList:#b6fbe63f;
    --bgcercabg: #FFFFE7;

    --erroreBgColor: #F8ADAD; /* Rosso chiaro con trasparenza */
    --erroreBorderColor: #8B0000; /* Rosso scuro */
    --erroreTextColor: #8B0000; /* Rosso scuro */

    --successoBgColor: #7DE300; /* Verde chiaro con trasparenza */
    --successoBorderColor: #006400; /* Verde scuro */
    --successoTextColor: #006400; /* Verde scuro */

    --red: #ff0000;
}

a:link{
    color: var(--linkNotVisitedMenuColor);
}

a:visited{
    color: var(--linkVisitedMenuColor);
}

#logo{
    grid-area: l;
    background-color: var(--flagColor);
}

#logo img{
    width: 70px;
    padding: 0.5em;
}

#breadcrumbs{
    grid-area: b;
    padding: 0.5em;
    border-bottom: 3px solid var(--flagColor);
}

#breadcrumbs a:link{
    color: var(--linkNotVisitedBodyColor);
}

#breadcrumbs a:visited{
    color: var(--flagColor);
}

html, body{
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background);
}

html{
    font-size: 100%;
    line-height: 1.5em;
    background-image: url("../background.jpg");
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
}

/* HEADER */

header{
    grid-area: h;
    background-color: var(--flagColor);
    color: var(--textColor);
    text-align: center;
    font-size: 1.5em;
    margin: 0em;
}

.navigationHelp{
    position: absolute;
    text-indent: -999em;
}

header h1{
    text-align: center;
    padding: 0.5em;
}

body{
    max-width: 1344px;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "l h"
                         "l b"
                         "m c"
                         "f f";
    height: 100vh;
    background-color: var(--background);
    overflow-x: hidden;
}

/* MENU */

#menu{
    grid-area: m;
    padding: 1em;
    background-color: var(--flagColor);
    color: var(--textColor);
    min-width: 9em;
    /*overflow-y: auto;*/
}

#menu input[type="checkbox"], #menu label{
    display: none;
}

#menu>ul>li, #footer li, #menu ul li ul li {
    color: var(--menuTextColor);
}

#menu ul li ul li{
    padding: 0.2em 1em;
}

main{
    grid-area: c;
    /*max-width: 1152px;*/
    /*max-width: inherit;*/
    background-color: var(--background);
    padding: 1em;
}

.genere_singolo::before {
    content: "";
    display: block;
    border-top: 3px solid var(--flagColor);
}
/*hr{
    color: var(--flagColor);
    background-color: var(--flagColor);
    height: 1px;
    margin: 1em 0em;
}*/

.genere{
    background-color: var(--flagColor);
}

.listageneri{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto;
}

ul.listageneri{
    list-style: none;
    margin-right: 15%;
    /*padding: 0;*/
    /*margin: 0;*/
    display: flex;  
}
  
li.listageneri{
    margin-right: 10px; 
}

h2{
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    font-size: 2em;
    text-align: center;
    padding: 1em;
}

h3{
    font-size: 1.5em;
    padding: 1em;
}

h3:first-of-type::before{
    content: "";
    display: block;
    /*width: 100%;*/
    /*border-bottom: 3px solid var(--flagColor);*/
   
}

textarea {
    resize: none;
    width: 100%;
}

form{
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    text-align: center;
    padding: 1em;
}

form label, form span:has(+input) { 
    display: block;
}

input{
    margin-bottom: 2em;
}

ol.listabestseller{
    list-style: none;
}

ol li{
    display: inline-block; 
    margin-right: 10px;
}

nav.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 0pt;
}

#cercaForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 50pt;
}

/*#cercaForm label {
    display: inline-block;
}*/

/*#form_disconnetti_account, #form_elimina_account {
    display: inline-block;
}*/

.container_form {
    display: flex;
    justify-content: center;
}

fieldset{
    border-color: var(--flagColor);
    border-radius: 5px;
    background-color: var(--formColor);
    padding: 1em;
}

fieldset legend{
    color: var(--flagColor);
    font-size: 1.2em;
}

fieldset ul{
    list-style: inside;
}

input[type=text], input[type=password], input[type=email], input[type=number], input[type=date], select {
    outline: none;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--flagColor);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, input[type=date]:focus {
    border: 3px solid var(--flagColor);
}

input[type=submit], input[type=reset] {
    background-color: var(--buttonColor);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}


/*da finire*/
table tr.lista_libri{
    transition: width 2s, height 4s;
}

table tr.lista_libri td:hover{
    transform: scale(1.3);
}

main > div{
    text-align: center;
}
/*
a.torna_su{
    float: right;
    padding: 0.2em 0.5em;
    border: solid 2px;
    border-color: var(--buttonColor);
    border-radius: 10px;
    background-color: white;
    color: var(--buttonColor);
}
*/
.torna_su{
    float: right;
    width: 50px;
    height: 50px;
    background-image: url("../arrow.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999px;
    /*TODO: decidere se tenere il torna_su fisso a schermo
    position: fixed;
    right: 7%;
    bottom: 7%;
    */
}

/* FOOTER */

footer{
    grid-area: f;
    /*width: 100%;*/
    background-color: var(--flagColor);
    color: var(--textColor);
    text-align: center;
    padding: 1em 0em;
    /*border-bottom:3em solid var(--flagColor);*/
}

footer ul{
    padding: 0.5em;
}

footer ul li{
    display: inline-block;
    padding: 0em 4em;
}

ul{
    list-style: none;
}

/* COMPONENTI */

#componenti{
    margin: auto;
    width: 90%;
    padding-top: 1em;
    padding-bottom: 2em;
}

#componenti > dt{
    background-color: var(--flagColor);
    color: var(--txtColor);
    border: 1px solid var(--bordercolor);
    padding: 0.5em;
    font-size: 1.1em;
}

#componenti > dd{
    background-color: var(--bgColor);
    border: 1px solid var(--bordercolor);
    border-top: none;
    padding: 0.5em;
    margin-bottom: 1em;
}

#componenti > dd img{
    width: 15%;
    float: left;
    margin-right: 1em;
}

.componente dt{
    float: left;
    font-weight: bold;
}

/*PAGINA 404*/

#nongrid{
    display:block;
}

#pagina{
    position: relative;
    width: 100%;
    height: 100vh;
}

.errore404{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.errore404 p{
    text-align: center;
    margin-top: 20%;
    vertical-align:middle;
}

.paper{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../404.png);
    background-size: cover;
    background-position: center;
}
/*SCHEDA LIBRO */


.trama_contenuto {
    background-color: var(--bgcolorextra); /* Giallo chiaro */
    padding: 10px;
    border-radius: 10px;
}
/*alternanza colori lista recensioni*/ 
/* Colore di sfondo azzurrino */
.lista_recensioni_scheda_libro li:nth-child(odd) {
    background-color: var(--bgcolorextra); /* Azzurrino */
}

/* Colore di sfondo giallino */
.lista_recensioni_scheda_libro li:nth-child(even) {
    background-color:var(--bgColorList); /* Giallino */
}

/* Aggiungi padding e bordi per migliorare l'aspetto */
.lista_recensioni_scheda_libro li {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px; /* Spazio tra gli elementi della lista */
}
.commento-testuale {
    font-style: italic;
}

.form-bottoni input[type="submit"] {
    display: block;
    margin: 0 auto; /* Centra il bottone orizzontalmente */
}

/*Pagina CERCA*/
/* Nascondi la descrizione visibile solo per gli screen reader */
#descr {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Applica uno sfondo azzurro alle righe pari */
#tabella_risultati_ricerca_libri tbody tr:nth-child(even) {
    background-color: var(--bgcercabg);
}

.libri a:hover {
    transform: scale(1.3);
}

/*SCORRIMENTO IMMAGINI*/

body > *{
    min-width: 0px;
}

.slider-wrapper{
    overflow: hidden;
}

.slider{
    position: relative;
    display: flex;
    transition: 0.5s;
}

.item{
    flex: 1 0 50%;
    min-height: 150px;
}

.item ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.voto_medio{
    background-color: var(--flagColor);
    padding: 0.3em;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider img{
    margin-left: 15px;
    max-width: 50%;
    float: left;
    border-radius: 5px;
}

.slider li{
    padding: 0.2em;
}
/*
.prev, .next{
    padding: 0.5em 1em;
    margin: 1em 0.5em;
    border-color: var(--buttonColor);
    border-radius: 10px;
    background-color: white;
    color: var(--buttonColor);
}
*/
.prev, .next{
    margin: 0.5em;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    cursor: pointer;
}

.prev{
    background-image: url("../arrow.png");
    transform: rotate(-90deg);
}

.next{
    background-image: url("../arrow.png");
    transform: rotate(90deg);
}

/* Lista libri per genere */

#listagenere {
     list-style-type: none;
     text-align: center;
     margin: auto;
}

#listagenere li{
    display: inline-block;
    width: 30%;
    aspect-ratio: 1/1;
    padding: 1em 0em;
}

#listagenere li a {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    font-size: 7em;
    line-height: 1.5em;
}

#listagenere li a:link{
    /*-webkit-filter: grayscale(100%);*/
    /*filter: grayscale(100%);*/
    transition: .5s;
}

#listagenere li a:hover{
    /*filter: grayscale(0%);*/
    transform: scale(1.1);
}

/*****************************************/


.librigeneri {
    list-style-type: none;
    text-align: center;
    margin: auto;
}

.librigeneri li{
    display: flex;
    width: 10%;
    aspect-ratio: 1/1;
    padding: 1em;
    margin: 0em 1em; /* Spazio tra gli elementi */
}

.librigeneri li:last-child {
    margin-right: 0; /* Nessun margine a destra per l'ultimo elemento */
}


.librigeneri li a{
    display:flex;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    font-size: 7em;
    line-height: 1.5em;
}



/* Generi */

#generi{
    /*list-style-type: none;*/
    text-align: center;
    margin: auto;
}

#generi li{
    display: inline-block;
    width: 26%;
    aspect-ratio: 1/1;
    padding: 2em;
}

#generi li a{
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    font-size: 7em;
    line-height: 1.5em;
}


#generi li a:link{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition:.5s;
}

#generi li a:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}




.librigeneri {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Imposta Flexbox */
    flex-wrap: wrap; /* Permette di andare a capo */
    justify-content: center; /* Allinea orizzontalmente */
    gap: 10px; /* Spaziatura uniforme tra gli elementi */
}
  
.librigeneri li {
    flex: 0 1 150px; /* Consente flessibilità, ma mantiene una larghezza fissa */
    height: 200px; /* Altezza uniforme */
    display: flex; /* Garanzia di coerenza nell'allineamento */
    align-items: center; /* Allinea verticalmente gli elementi */
    justify-content: center; /* Centra orizzontalmente */
}
  
.librigeneri li a {
    display: block;
    width: 100%; /* Copre l'intera larghezza */
    height: 100%; /* Copre l'intera altezza */
    background-size: cover; /* Riempie l'intero spazio */
    background-position: center; /* Centra l'immagine */
    text-indent: -9999px; /* Nasconde il testo */
 }

.librigeneri li a:hover {
    transform: scale(1.1); /* Effetto hover */
    transition: 0.5s; /* Transizione più fluida */
}

.librigeneri li a:link{
    transition:.5s;
}

/* ERRORI JS */

.errorSuggestion {
display: block;
}

/*statistiche*/ 

.statistiche_generali{
    display: flex;
    flex-direction: row;
}

.statistiche_admin{ 
    width: 50%;   
    margin: 1em;
    padding: 1em;
    background-color: var(--formColor); /*TODO colore da cambiare*/
    border: 2px solid;
    border-color: var(--flagColor);
    border-radius: 5px;
}

/*statistiche utente*/ 
/* Stile per lo sfondo giallo e centratura del testo del messaggio motivazionale */
#messaggio_motivazionale {
    text-align: center; /* Centratura del testo */
    background-color: var(--bgcolorextra);
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
}

#faccina{
    width: 30%;
}

.datilistalibro div, .datiattuali div, .gruppostatistiche div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dati_lista_statistiche div {
    display: flex;
    align-items: left;
    justify-content: left;
}

.datilistalibro dt, .datiattuali dt{
    font-weight: bold;
}

.datiattuali{
    background-color: var(--bgcolorextra);
    border-radius: 3px;
    padding-bottom: 1em;
}

.menu_scheda_libro {
    text-align: left; /* Allinea il testo a sinistra */
}

#trama, #recensionetua{
    font-weight: bold;
}

main a:link{
    color: var(--linkNotVisitedBodyColor);
}

main a:visited{
    color: var(--flagColor);
}

blockquote {
    font-family: 'Times New Roman', Times, serif; /* Font comune */
    font-style: italic; /* Testo in corsivo */
    text-align: center; /* Testo centrato */
    background-color: var(--bgcolorextra); /* Sfondo giallino */
    padding: 10px; /* Spaziatura interna */
    border-radius: 50%; /* Sfondo ovale */
    margin-bottom: 20px; /* Spazio tra il blocco citazione e l'elemento successivo */
}

.messaggiErrore {
    background-color: var(--erroreBgColor);
    border: 2px solid var(--erroreBorderColor);
    padding: 10px;
    border-radius: 5px;
    color: var(--erroreTextColor);
}

.messaggiSuccesso {
    background-color: var(--successoBgColor);
    border: 2px solid var(--successoBorderColor);
    padding: 10px;
    border-radius: 5px;
    color: var(--successoTextColor);
}

#eliminaaccount{
    background-color: var(--red);
}

.righealternate{
    background-color: transparent;
    border: none;
}

.righealternate tr:nth-child(even) {
    background-color: var(--bgcercabg);
}

table{
    width: 100%;
    text-align: center;
}

section.container {
    text-align: center;
}