.item {
    flex: 1 0 100%;
}

.commento {
    display: none;
}

.statistiche_generali {
    flex-direction: column;
}

.statistiche_admin { 
    width: auto;
}

#listagenere li {
    width: 40%;
}

#generi li {
    width: 40%;
}

.rimuovi {
    display: none;
}

.datilistalibro div, .datiattuali div, .gruppostatistiche div, .dati_lista_statistiche div {
    display: flex;
    align-items: center;
    justify-content: center;
}