.item {
    flex: 1 0 100%;
}

.commento {
    display: none;
}

.contenitore_liste_admin {
    flex-direction: column;
}

.contenitore_lista_dati_admin { 
    width: auto;
}

#listagenere li {
    width: 40%;
}

#generi li {
    width: 40%;
}

.rimuovi {
    display: none;
}

/*.datilistalibro div, .datiattuali div, .gruppostatistiche div, .lista_dati_admin div {
    display: flex;
    align-items: center;
    justify-content: center;
}*/