<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Errore 500 - BookClub</title>
        <meta name="keywords" content="errore, 500, malfunzionamento, assente, connessione">
        <meta name="description" content="Pagina di errore 404 BookClub">
        <meta name="author" content="Fabio Meneghini">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/tablet.css" media="screen and (max-width:900px)">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
        <link rel="stylesheet" href="css/imageReplace.css" media="screen">
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <label for="hamburger" tabindex="0">
                <img src="menu.png" alt="">
            </label>
            <input id="hamburger" type="checkbox">
            <ul>
                {menu}
            </ul>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <a href="index.php"><span lang="en">Home</span></a> &gt;&gt; Errore 500</p>
            <span class="separatore"></span>
        </nav>
        <main  id="content">
            <h2>Errore 500</h2>
            <p>Ci dispiace per l'inconveniente, ma stiamo riscontrando dei problemi tecnici che impediscono al nostro sito di funzionare in modo corretto. Nonostante questo errore, le assicuriamo che tutti i suoi dati personali sono comunque al sicuro.</p>
            <p>La invitiamo ad attendere qualche minuto prima di riprovare a continuare con la navigazione.</p>
            <p>Torna alla <a href="index.php"><span lang="en">Homepage</span></a>.</p>
        </main>
        <footer id="footer">
            <ul>
                <li><a href="contatti.php">Contatti</a></li>
                <li><a href="chisiamo.php">Chi siamo</a></li>
                <li><a href="privacy.php"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>