<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Home - BookClub</title>
        <meta name="keywords" content="libri ,migliori, generi, bestseller">
        <meta name="description" content="Questa pagina è dedicata ai migliori libri e generi per lettori in questo momento.">
        <meta name="author" content="">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/tablet.css" media="screen and (max-width:900px)">
        <link rel="stylesheet" href="css/print.css" media="print">
        <link rel="stylesheet" href="css/imageReplace.css" media="screen">
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <label for="hamburger" tabindex="0">
                <img src="menu.png"><!--ERRORE MANCA ALT-->
            </label>
            <input id="hamburger" type="checkbox">
            <dl>
                <dt><a href="index.php"><span lang="en">Home</span></a></dt>
                <dt><a href="generi.php">Generi:</a></dt>
                {listaGeneri}
                <dt><a href="accedi.php">Accedi</a></dt>
                <dt><a href="registrati.php">Registrati</a></dt>
                <dt><a href="cerca.php">Cerca</a></dt>
            </dl>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <a href="index.php"><span lang="en">Home</span></a>&gt; &gt; <span lang="en">Privacy</span></p>
            <span class="separatore"></span>
        </nav>
        <main  id="content">
            <h2>Privacy</h2>
            <p>I dati raccolti dal momento della registrazione sono raccolti per assicurarvi il miglior servizio in base alle vostre preferenze</p>
        </main>
        <footer id="footer">
            <ul>
                <li><a href="contatti.php">Contatti</a></li>
                <li><a href="chisiamo.php">Chi siamo</a></li>
                <li><span lang="en">Privacy</span></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>