<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Privacy - BookClub</title>
        <meta name="keywords" content="privacy, dati, BookClub">
        <meta name="description" content="Questa pagina descrive le normative sulla privacy degli utenti di BookClub">
        <meta name="author" content="Martina Dall'Amico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/tablet.css" media="screen and (max-width:900px)">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
    </head>
    <body>
        <div id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></div>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu" aria-label="Menu">
            <label for="hamburger" tabindex="0">
                <span>Apri o chiudi menu</span>
                <img src="menu.png" alt="">
            </label>
            <input id="hamburger" type="checkbox">
            <ul>
                {menu}
            </ul>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <a href="index.php"><span lang="en">Home</span></a> &gt;&gt; <span lang="en">Privacy</span></p>
        </nav>
        <main  id="content">
            <h2>Privacy</h2>
            <p>I dati inseriti al momento della registrazione sono raccolti per assicurarvi il miglior servizio in base alle vostre preferenze.</p>
        </main>
        <footer id="footer">
            <ul>
                <li><a href="contatti.php">Contatti</a></li>
                <li><a href="chisiamo.php">Chi siamo</a></li>
                <li><span lang="en">Privacy</span></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>