<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Area Personale - BookClub</title>
        <meta name="keywords" content="area personale, cambia password, disconnetti, cambia nome utente, cambia username">
        <meta name="description" content="Questa pagina è l'area personale degli utenti di BookClub in cui possono cambiare il nome utente, la password, disconnettersi ed eliminare il profilo.">
        <meta name="author" content="Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/tablet.css" media="screen and (max-width:900px)">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
        <link rel="stylesheet" href="css/imageReplace.css" media="screen">
        <script src="conferme.js"></script>
        <script src="controlli.js"></script>
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <label for="hamburger" tabindex="0">
                <img src="menu.png"><!--ERRORE MANCA ALT-->
            </label>
            <input id="hamburger" type="checkbox">
            <dl>
                {menu}
            </dl>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <a href="utente.php"><span lang="en">Home</span></a> &gt;&gt; Area Personale</p>
        </nav>
        <main id="content">
            <div class="datiattuali">
                <h2>Benvenuto, <span id="nome">{nome}</span>!</h2>
                <dl>
                    <div>
                        <dt>Il tuo <span lang="en">username</span> attuale: </dt>
                        <dd>{usernameattuale}</dd>
                    </div>
                    <div>
                        <dt>La tua <span lang="en">email</span> attuale: </dt>
                        <dd>{emailattuale}</dd>
                    </div>
                    <div>
                        <dt>Data di iscrizione: </dt>
                        <dd><time datetime="{data_iscrizione}">{data_iscrizione}</time></dd>
                    </div>
                </dl>
                <p>Non ricordi la tua <span lang="en">password</span>? Contatta il 0444 3940394, un/a nostro/a operatore/trice sarà a tua disposizione</p>
            </div>
            {messaggi}
            <section id="sectionModificaUsername">
                <h3>Modifica lo <span lang="en">username</span></h3>
                <form method="post" action="area_personale.php" onsubmit="return validaUsernameCambio()"> 
                    <fieldset>
                        <legend><span lang="en">Username</span></legend>
                        {messaggiUsername}
                        {successoUsername}
                        <p>
                            Lo <span lang="en">username</span> deve contenere tra i 3 e i 25 caratteri.
                        </p>
                        <label for="username">Inserisci un nuovo <span lang="en">username</span>: </label>
                        <span><input type="text" id="username" name="username" maxlength="25" minlength="3" required></span>
                        <input type="submit" id="cambia_username" name="cambia_username" value="Modifica Username" onclick="return conferma('Sei sicuro/sicura di voler modificare lo username?')">
                    </fieldset>
                </form>
            </section>
            <section id="sectionModificaPassword">
                <h3>Modifica la <span lang="en">password</span></h3>
                <form method="post" action="area_personale.php" onsubmit="return validaPasswordCambio()"> 
                    <fieldset>
                        <legend><span lang="en">Password</span></legend>
                        {messaggiPassword}
                        {successoPassword}
                        <label for="passwordold">Inserisci la <span lang="en">password</span> attuale:</label>
                        <span><input type="password" id="passwordold" name="passwordold" required></span>
                        <p>
                            La <span lang="en">password</span> deve:
                            <ul>
                                <li>contenere almeno un numero;</li>
                                <li>contenere almeno una lettera maiuscola;</li>
                                <li>contenere almeno una lettera minuscola;</li>
                                <li>essere lunga almeno 8 caratteri.</li>
                            </ul>
                        </p>
                        <label for="passwordnew1">Inserisci una nuova <span lang="en">password</span>:</label>
                        <span><input type="password" id="passwordnew1" name="passwordnew1" required></span><br>
                        <label for="passwordnew2">Ripeti la stessa <span lang="en">password</span>:</label>
                        <span><input type="password" id="passwordnew2" name="passwordnew2" required></span>
                        <input type="submit" id="cambia_password" name="cambia_password" value="Modifica Password" onclick="return conferma('Sei sicuro/sicura di voler modificare la password?')">
                    </fieldset>
                </form>
            </section>

            <section id="sectionModificaEmail">
                <h3>Modifica l'<span lang="en">email</span></h3>
                <form method="post" action="area_personale.php" onsubmit="return validaEmailCambio()"> 
                    <fieldset>
                        <legend><span lang="en">Email</span></legend>
                        {messaggiEmail}
                        {successoEmail}
                        <label for="email">Nuovo indirizzo <span lang="en">email</span>:</label>
                        <span><input type="email" id="email" name="email" maxlength="60" required></span>
                        <input type="submit" id="cambia_email" name="cambia_email" value="Modifica Email" onclick="return conferma('Sei sicuro/sicura di voler modificare la mail?')">
                    </fieldset>
                </form>
            </section>

            <section id="sectionDisconnetti">
                <h3>Disconnetti o elimina l'<span lang="en">account</span></h3>
                <form method="post" action="area_personale.php" onsubmit="return conferma('Sei sicuro/sicura di voler uscire dall\'account?')">
                    <input type="submit" id="disconnetti" name="disconnetti" value="Disconnetti Account">
                </form>
                <form method="post" action="area_personale.php" onsubmit="return conferma('Sei sicuro/sicura di voler eliminare l\'account? I tuoi dati andranno persi per sempre.')">
                    <input type="submit" id="eliminaaccount" name="elimina" value="Elimina Account">
                </form>
            </section>
        </main>

         <footer id="footer">
            <ul>
                <li><a href="contatti.php">Contatti</a></li>
                <li><a href="chisiamo.php">Chi siamo</a></li>
                <li><a href="privacy.php"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>