<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Home - BookClub</title>
        <meta name="keywords" content="libri ,migliori, generi, bestseller,">
        <meta name="description" content="Questa pagina è dedicata ai migliori libri e generi per lettori in questo momento.">
        <meta name="author" content="Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav>
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <label for="hamburger" tabindex="0">
                <img src="menu.png"><!--ERRORE MANCA ALT-->
            </label>
            <input id="hamburger" type="checkbox">
            <dl>
                <dt><span lang="en">Home</span></dt>
                <dt><a href="stai_leggendo.php">Libri che stai leggendo</a></dt>
                <dt><a href="terminati.php">Libri terminati</a></dt>
                <dt><a href="da_leggere.php">Libri da leggere</a></dt>
                <!--dove può inserire una recensione? solo dal libro, solo dalla home, dalla pagina letti? o dappertutto?-->
                <dt><a href="generi.php">Generi:</a></dt>
                {listaGeneri}
                <!--php x menu con categorie link a templategenere-->
                <dt><a href="statistiche.php">Statistiche</a></dt>
                <dt><a href="area_personale.php">Area Personale</a></dt>
                <dt><a href="cerca.php">Cerca</a></dt>
            </dl><!--ERRORE DL-->
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <span lang="en">Home</span></p>
        </nav>
        <main id="content">
            <!-- <ul>
                se si tiene solo recensione non ha senso una lista
                si può mettere quanti capitoli ha letto oggi
                <li><a href="recensione.php">Aggiungi Recensione</a></li>
                <button type="button">+</button><a href="templateAggiungiRecensione.html">Aggiungi Recensione</a> va il link?
                ERRORE  Element button not allowed as child of element ul in this context. (Suppressing further errors from this subtree.)
            </ul> -->
            {messaggiSuccesso}
            <h2>Trova il tuo prossimo libro</h2>
            <blockquote>
                Leggere un libro non è uscire dal mondo, ma entrare nel mondo attraverso un altro ingresso.
                <cite>(Fabrizio Caramagna)</cite>
            </blockquote>
            
            {LibriGenere}
            <nav aria-label="Torna al form di ricerca">
                <a class="torna_su" href="#content">Torna su</a>
            </nav> 
        </main>
         <footer id="footer">
            <ul>
                <li><a href="contatti.php">Contatti</a></li>
                <li><a href="chisiamo.php">Chi siamo</a></li>
                <li><a href="privacy.php"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>