<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Aggiungi Genere -BookClub</title>
        <meta name="keywords" content=""><!--hanno senso le keyword qua?-->
        <meta name="description" content="Questa pagina è per aggiungere un genere">
        <meta name="author" content="">
        <!--<link rel="stylesheet" href="css/style.css">-->
    </head>
    <body>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
            <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <img src="logo" alt="">
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
            
        </header>
        <nav id="menu">
            <ul>
                <!--link di admin-->
                <li><a href="templateHomeAdmin.html"><span lang="en">Home</span></li>
                <li><a href="templateAggiungiLibro.html"></a>Aggiungi un libro</li>
                <li>Aggiungi Genere</li>
                <li><a href="templateRiumuoviLibro.html"></a>Rimuovi un Libro</li>
                <li><a href="templateRiumuoviRecensione.html"></a>Rimuovi una Recensione</li>
                <li><a href="templateRiumuoviUtenti.html"></a>Rimuovi Utenti</li>
                <li><a href="templateModificaLibro"></a>Modifica Libro</li>
                <!--non direttemante da qua o si ? -->
                <li><a href="cerca.html">Cerca</a></li>
            </ul>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: :<a href="templateHomeAdmin.html"><span lang="en">Home</span></a>&gt; &gt; Aggiungi Libro</p>
        </nav>
        <main  id="content">
<main id="content">
    <section id="sectionAggiungiGenere">
        <h2>Inserisci una nuovo Genere</h2>
        <form method="post" action="aggiungiGenereAdmin.php"> <!--da fare php-->
            {messaggiForm}
            <fieldset>
                <legend>Genere</legend>
                <legend for="genere">Inserisci un nuovo genere:</legend>
                <input type="text" id="genere" name="genere" min="1" max="20" required>
            </fieldset>
        </form>
    </section>
</main>
<footer id="footer">
    <ul>
        <li><a href="contatti.html">Contatti</a></li>
        <li><a href="chisiamo.html">Chi siamo</a></li>
        <li><a href="privacy.html"><span lang="en">Privacy</span></a></li>
    </ul>
    <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
</footer>
</body>
</html>