<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Home - BookClub</title>
        <meta name="keywords" content="libri ,migliori, generi, bestseller">
        <meta name="description" content="Questa pagina è dedicata ai migliori libri e generi per lettori in questo momento.">
        <meta name="author" content="">
        <!--<link rel="stylesheet" href="css/style.css">-->
    </head>
    <body>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
            <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <img src="logo" alt="">
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <ul>
                <li><a href="templateAccedi.html">Accedi</a></li>
                <li><a href="templateRegistrati.html">Registrati</a></li>
                <li><a href="cerca.html">Cerca</a></li>
            </ul>

        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in:<a href="templateHome.html"><span lang="en">Home</span></a>&gt; &gt;  {NomeGenere}</p>
        <span class="separatore"></span>
        </nav>
        <main  id="content">
            <h2>{NomeGenere}</h2>
            {Lista_tutti_libri}

        </main>
        <footer id="footer">
            <ul>
                <li><a href="contatti.html">Contatti</a></li>
                <li><a href="chisiamo.html">Chi siamo</a></li>
                <li><a href="privacy.html"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>