<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Area Personale- BookClub</title>
        <meta name="keywords" content="area personale, cambia password, disconnetti, cambia nome utente, cambia username">
        <meta name="description" content="Questa pagina è l'area personale degli utenti di BookClub in cui possono cambiare il nome utente, la password, disconnettersi ed eliminare il profilo.">
        <meta name="author" content="">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <!--deve poter modificare nome e passsword e dati-->
        <!--manca disconnessione e eliminazione profilo -->
        <nav id="menu">
            <dl>
                <dt><a href="templateHomeUtente.html"><span lang="en">Home</span></a></dt>
                <dt><a href="templateStaiLeggendo.html">Libri che stai leggendo</a></dt>
                <dt><a href="templateTerminati.html">Libri terminati</a></dt>
                <dt><a href="templateDaLeggere.html">Libri da leggere</a></dt>
                <dt><a href="templateAggiungiRecensione.html">Aggiungi Recensione</a></dt>
                <!--dove può inserire una recensione? solo dal libro, solo dalla home, dalla pagina letti? o dappertutto?-->
                <dt>Lista Generi:</dt>
                {listaGeneri}
                <!--php x menu con categorie link a templategenere-->
                <dt><a href="templateStatisticheUtente.html">Statistiche</a></dt>
                <dt>Area Personale</dt>
                <dt><a href="templateCerca.html">Cerca</a></dt>
            </dl>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <a href="templateHomeUtente.html"><span lang="en">Home</span></a>&gt; &gt; Area Personale</p>
        </nav>
        <main  id="content">
            <div id="profile">
                <h2>Benvenuto, <span id="username">{NomeUtente}</span>!</h2>
            </div>
            <!--mettere nella relazione per il ranking che era troppo pesante e lo abbiamo tolto -->
            <!-- NON sono sicura sia una form-->

            <!--sarebbe meglio che avesse a disposizione il suo username e che se volesse potesse modificarlo-->
            <div id="datiattuali" >
                <h2>Il tuo <span lang="en">username</span> attuale: {usernameattuale}</h2>
                <!--php-->
                <h2>La tua <span lang="en">email</span> attuale: {mailattuale}</h2>
                <p>Non ricordi la tua <span lang="en">password</span>? Contatta il 0444 3940394, un/a nostro/a operatore/trice sarà a tua disposizione</p>
            </div>
            <h3>Modifica I dati di accesso:</h3>
            <section id="sectionModificaUsername">
                <form method="post" action="area_personale.php"> 
                    <!--aggiungi pagina php-->
                    {messaggiForm}
                    <fieldset>
                        <legend><span lang="en">Username</span>:</legend>
                        <p>Lo <span lang="en">username</span> deve contenere al massimo 10 caratteri, includendo almeno:
                            <ul>
                                <li>una lettera maiuscola</li>
                                <li>una lettera minuscola</li>
                            </ul>
                            <!--controlli con php sul nome-->
                        </p>
                        <label for="username">Inserisci un nuovo <span lang="en">username</span>: </label>
                        <input type="text" id="username" name="username" maxlength="10" required>
                        <!--Messaggio di errore se uno vuole usare un username già in uso meglio durante la compilazione-->
                        <legend>Concludi l'inserimento:</legend>
                        <button type="submit">Modifica <span lang="en">Username</span></button>
                        <!--messaggio prima di cancellare : sei sicuro di voler eliminare tutti i dati che hai compilato ? -->
                    </fieldset>
                </form>
            </section>
            <section id="sectionModificaPassword">
                <form method="post" action=".php"> 
                    <!--aggiungi pagina php-->
                    {messaggiForm}
                    <fieldset>
                        <legend><span lang="en">Password</span>:</legend>
                        <label for="passwordold">Inserisci la <span lang="en">password</span> attuale:</label>
                        <input type="password" id="passwordold" name="passwordold" required>
                        <!--value={passwordattuale} , con php deve controllare sia la sua password di ora-->
                        <!-- se non è giusta non lascia completare questi sotto : -->
                        <p>La <span lang="en">password</span> deve contenere almeno:
                            <ul>
                                <li>un numero</li>
                                <li>una lettera maiuscola</li>
                                <li>una lettera minuscola</li>
                            </ul>
                        </p>
                        <label for="passwordnew">Inserisci una nuova <span lang="en">password</span>:</label>
                        <input type="password" id="passwordnew" name="passwordnew" required></br>
                        <label for="passwordnew1">Ripeti la stessa <span lang="en">password</span>:</label>
                        <input type="password" id="passwordnew1" name="passwordnew1" required>
                        <!--Messaggio di errore se la password è diversa da quella sopra forse value={passwordnew} -->
                        <legend>Concludi l'inserimento:</legend>
                        <button type="submit">Cambia <span lang="en">Password</span></button>
                        <!-- non so se si possa togliere ma non credo abbia senso qua :<button type="reset">Elimina</button>
                        messaggio prima di cancellare : sei sicuro di voler eliminare tutti i dati che hai compilato ? -->
                    </fieldset>
                </form>
            </section>
            <section id="sectionModificaEmail">
                <form method="post" action=".php"> 
                    <!--aggiungi pagina php-->
                    {messaggiForm}
                    <fieldset>
                        <legend><span lang="en">Email</span>:</legend>
                        <label for="email">Nuovo indirizzo <span lang="en">email</span>:</label>
                        <input type="email" id="email" name="email" maxlength="30" required>
                        <!--Messaggio di errore se uno vuole usare un username già in uso meglio durante la compilazione-->
                        <legend>Concludi l'inserimento:</legend>
                        <button type="submit">Modifica <span lang="en">email</span></button>
                        <!--controllo anche da php che sia una mail con controllo di caratteri -->
                        <!--<button type="reset">Elimina</button>
                        messaggio prima di cancellare : sei sicuro di voler eliminare tutti i dati che hai compilato ? -->
                    </fieldset>
                </form>
            </section>
            <!--forse sarebbe meglio 2 pagine a parte per disconnetti ed elimina account -->
            <div id="exitaccount">
                <h4>Disconnessione dell'<span lang="en">account</span>:</h4>
                <button id="disconnessione">Disconnetti <span lang="en">account</span></button>
                <!--mex che se si disconnette dal dispositivo può rientare in qualsiasi momento con username e password e conferma-->
                <h4>Eliminazione dell'<span lang="en">account</span>:</h4>
                <button id="eliminazione">Elimina <span lang="en">account</span></button>
                <!--emiminare utente db-->
            </div> 
        </main>
        <footer id="footer">
            <ul>
                <li><a href="contatti.html">Contatti</a></li>
                <li><a href="chisiamo.html">Chi siamo</a></li>
                <li><a href="privacy.html"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>
<!--da aggiungere c'è se si vuole che tipo di utente è se il mese scorso ha letto più libri di tutti è nella top 3 account oro..-->