<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Prima pagina</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
    </head>
    <body>
        <header>
            <h1 class="titolo">BookClub</h1>

        </header>
        <nav id="menu">
            <ul>
                <li>Accedi</li>
                <li>Registrati</li>
                <li>Altro</li>
            </ul>
        </nav>
        <nav id="breadcrumbs">
            <p>Ti trovi in: <span lang="en">Home</span></p>

        </nav>
        <main>
            <h2>Migliori titoli del momento</h2>
            <ul>
                <li>Percy Jackson</li>
                <li>titolo 1</li>
                <li>Percy Jackson</li>
                <li>titolo 1</li>
                <li>Percy Jackson</li>
            </ul>

            <h3 class="genere">Fantascienza</h3>
            <ul>
                <li>Percy Jackson</li>
                <li>titolo 1</li>
                <li>Percy Jackson</li>
                <li>titolo 1</li>
                <li>Percy Jackson</li>
            </ul>

            <h3 class="genere">Storici</h3>
            <ul>
                <li>Percy Jackson</li>
                <li>titolo 1</li>
                <li>Percy Jackson</li>
                <li>titolo 1</li>
                <li>Percy Jackson</li>
                <li>titolo</li>
                <li>titolo</li>
                <li>titolo</li>
                <li>titolo</li>
                <li>titolo</li>
                <li>titolo</li>
                <li>titolo</li>
                <li>titolo</li>
                <li>titolo</li>
                <li>titolo</li>
                <li>titolo</li>
                <li>titolo</li>
                <li>titolo</li>
                <li>titolo</li>
                <li>titolo</li>
                <li>titolo</li>
                <li>titolo</li>
                <li>titolo</li>
                <li>titolo</li>
                <li>titolo</li>
                <li>titolo</li>
                <li>titolo</li>
                <li>titolo</li>
                <li>titolo</li>
            </ul>

            <h3 class="genere">Gialli</h3>
            <ul>
                <li>Percy Jackson</li>
                <li>titolo 1</li>
                <li>Percy Jackson</li>
                <li>titolo 1</li>
                <li>Percy Jackson</li>
            </ul>
        </main>
        <footer>
            <ul>
                <li>Contatti</li>
                <li>Chi siamo</li>
                <li><span lang="en">Help</span></li>
                <li><span lang="en">Privacy</span></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>