<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Cerca - BookClub</title>
        <meta name="keywords" content="cerca, cerca libri, cerca nuovi libri, esplora libri, cerca generi, cerca autori">
        <meta name="description" content="Questa pagina è dedicata alla ricerca nel sito di libri specifici o per l'esplorazione di generi e autori.">
        <meta name="author" content="Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/tablet.css" media="screen and (max-width:900px)">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <label for="hamburger" tabindex="0">
                <img src="menu.png" alt="">
            </label>
            <input id="hamburger" type="checkbox">
            <ul>
                {menu}
            </ul>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <a href="index.php"><span lang="en">Home</span></a> &gt;&gt; Cerca </p>
        </nav>
        <main id="content">
            <section id="cerca">
                <h2>Cerca un libro</h2>
                <form method="post" action="cerca.php">
                    {messaggiForm}
                    <fieldset class="non_rimuovi_print">
                        <legend>Ricerca</legend>
                        <label for="stringa">Ricerca generale:</label>
                        <input class="non_rimuovi_print" type="text" id="stringa" name="stringa" maxlength="50" placeholder="Cerca un libro..." value="{stringa}">
                        <input type="submit" id="cerca_generale" name="cerca_generale" value="Cerca">
                    </fieldset>
                    <fieldset class="non_rimuovi_print">
                        <legend>Filtri</legend>
                        <label for="autore">Autore:</label>
                        <input class="non_rimuovi_print" type="text" id="autore" name="autore" maxlength="50" value="{autore}">
                        <label for="genere">Genere: </label>
                        <select class="non_rimuovi_print" name="genere" id="genere" required>
                            {opzioneGeneri}
                        </select>
                        <label for="lingua">Lingua:</label>
                        <input class="non_rimuovi_print" type="text" list="lingua" id="selezionalingua" name="lingua" maxlength="15" value="{lingua}">
                        <datalist id="lingua">
                            {listaLingue}
                        </datalist>
                    </fieldset>
                </form>
            </section>
            {rislutati}
            {torna_su} 
        </main>
        <footer id="footer">
        <ul>
            <li><a href="contatti.php">Contatti</a></li>
            <li><a href="chisiamo.php">Chi siamo</a></li>
            <li><a href="privacy.php"><span lang="en">Privacy</span></a></li>
        </ul>
        <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
    </footer>
</body>
</html>