<!DOCTYPE html>
<!--arriva da cheda libro se clicca modifica o vede subito questo?-->
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>{TitoloLibro} - BookClub</title>
        <!--nome libro PHP-->
        <meta name="keywords" content="{keywords}">
        <!--come trovare le parole chiave?-->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <label for="hamburger" tabindex="0">
                <img src="menu.png"><!--ERRORE MANCA ALT-->
            </label>
            <input id="hamburger" type="checkbox">
            <dl>
                <!--link di admin-->
                <dt><a href="index.php"><span lang="en">Home</span></a></dt>
                <!--l'home dell'admin ha o non ha le cose degli utenti? o ha una pagina per le statistice? -->
                <dt><a href="aggiungi_libro.php">Aggiungi un libro</a></dt>
                <dt><a href="tutti_libri.php">Catalogo Libri</a></dt>
                <dt><a href="tutti_utenti.php">Archivio utenti</a></dt>
                <dt>Modifica Libro</dt>
                <!--non direttemante da qua o si ? -->
                <dt>Categorie</dt>
                {listaGeneri}
                <!--metti php x menu con link alla pagina: <dd>templategenere.html-->
                <dt><a href="area_personale.php">Area Personale</a></dt>
                <dt><a href="cerca.php">Cerca</a></dt>
            </dl><!--ERRORE dl-->
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <!--come ricordarsi da dove è entrato? dalla home , da letti , da leggere o da eliminati? o da generi?-->
            <p>Ti trovi in: <a href="index.php"><span lang="en">Home</span></a>&gt; &gt; {titoloold}</p>
        </nav>
        <main id="content">
            <img> <!--ERRORE immagine con alt specifico--><!--ERRORE MANCA src-->
            <section id="modificaLibro">
                <h2>Inserisci i nuovi dati del libro</h2>
                <form method="post" action="modifica_libro.php"> 
                    {messaggiForm}
                    <fieldset>

                        <legend>Informazioni genere: </legend>
                        <label for="titolo">Autore: </label>
                        <input type="text" id="autore" name="autore"  placeholder="{autoreold}" value="{autoreold}"><!--ERRORE CORRETTO MIN MAX-->
                        <br><!--ERRORE CORRETTO TOLTO /-->
                        <label for="titolo">Titolo: </label>
                        <input type="text" name="titolo" id="titolo"  placeholder="{titoloold}" value="{titoloold}"><br><!--ERRORE CORRETTO TOLTO /,MAX-->

                        <!--controllo che sia diverso da quelli già inseriti! In caso messaggio: il libro inserito è già presente nel data base
                        meglio non lasciare il completamente di altri campi -->
                    </fieldset>
                    <fieldset>
                        <legend>Informazioni specifiche:</legend>

                        <label id="Lingua">Lingua originale : </label><!--ERRORE CORRETTO FOR SOSTITUITO CON ID->
                        <input list="lingua" id="selezionalingua" name="lingua" placeholder="{linguaold}" value="{linguaold}">
                        <datalist id="lingua" ><!--ERRORE CORRETTO RIMOSSO NAME-->
                            {listaLingue}
                            <!--option between todos los idiomas del mundo-->
                        </datalist><br><!--ERRORE CORRETTO RIMOSSO /-->
                        
                        <label id="durata">Nunero capitoli: </label><!--ERRORE CORRETTO FOR SOSTITUITO CON ID-->
                        <input type="number" name="capitoli" id="capitoli" max="1000" required placeholder="{capitoliold}" value="{capitoliold}" ><!--ERRORE Bad value {capitoliold} for attribute value on element input: Expected a minus sign or a digit but saw { instead./--><!--ERRORE CORRETTO RIMOSSO /-->

                       
                    </fieldset>
                    <fieldset>
                        <legend>Storia :</legend>
                        <legend for="trama">Trama del libro:</legend><!--ERRORE  Element legend not allowed as child of element fieldset in this context. (Suppressing further errors from this subtree.)-->
                        <textarea id="trama" name="trama" rows="20" cols="70" placeholder="{tramaold}">"{tramaold}"</textarea>
                    </fieldset>
                    <fieldset>
                        <legend>Genere</legend>
                        <label id="genere">Seleziona : </label><!--ERRORE CORRETTO FOR SOSTITUITO CON ID-->
                        <input list="genere" id="genereInput" name="genere">
                        <datalist id="genere"  placeholder="{genereold}" value="{genereold}"> <!--ERRORE CORRETTO RIMOSSO NAME--><!--ERRORE Attribute value not allowed on element datalist at this point. /-->
                            {listaGeneri}
                        </datalist><br><!--ERRORE CORRETTO RIMOSSO /-->
                    </fieldset>
                    <fieldset>
                        <legend>Concludi l'inserimento:</legend>
                        <button type="submit">Modifica</button>
                        <button type="reset">Annulla</button>
                        <!--messaggio prima di cancellare : sei sicuro di voler eliminare tutti i dati che hai compilato ? -->
                    </fieldset>
                </form>
            </section>
            <h4>Recensioni della <span lang="en">community</span></h4>{recensioniComunity}
            <h4>Voto medio: </h4>{mediavoti}
        </main>
        <footer id="footer">
            <ul>
                <li><a href="contatti.html">Contatti</a></li>
                <li><a href="chisiamo.html">Chi siamo</a></li>
                <li><a href="privacy.html"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>