<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Aggiungi Libro -BookClub</title>
        <meta name="keywords" content="nuovi libri, inserimento">
        <meta name="description" content="Questa pagina dell'admin è per inserire nuovi libri.">
        <meta name="author" content="">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <dl>
                <!--link di admin-->
                <dt><a href="templateHomeAdmin.html"><span lang="en">Home</span></a></dt>
                <!--l'home dell'admin ha o non ha le cose degli utenti? o ha una pagina per le statistice? -->
                <dt>Aggiungi un libro</dt>
                <dt><a href="templateAggiungiGenere.html">Aggiungi Genere</a></dt>
                <dt><a href="templateTuttiLibri.html">Catalogo libri</a></dt>
                <dt><a href="templatetutteRecensioni.html">Recensioni</a></dt>
                <dt><a href="templateTuttiUtenti.html">Archivio utenti</a></dt>
                <dt><a href="templateModificaLibro.html">Modifica Libro</a></dt>
                <!--non direttemante da qua o si ? -->
                <dt>Categorie</dt>
                <dd>{linkcategorie}</dd> 
                <!--metti php x menu con link alla pagina: <dd>templategenere.html-->
                <dt><a href="templateCerca.html">Cerca</a></dt>
            </dl>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: :<a href="templateHomeAdmin.html"><span lang="en">Home</span></a>&gt; &gt; Aggiungi Libro</p>
        </nav>
        <main id="content">
            <!--su tutti i field mettere lunghezza massima -->
            <section id="sectionAggiungiLibro">
                <h2>Inserisci una nuovo Libro</h2>
                <form method="post" action="aggiungiLibroAdmin.php"> 
                    {messaggiForm}
                    <fieldset>
                        <legend>Informazioni genere: </legend>
                        <label for="titolo">Autore: </label>
                        <input type="text" id="autore" name="autore" min="1" max="30" required>
                        <br/>
                        <label for="titolo">Titolo: </label>
                        <input type="text" name="titolo" id="titolo" max="100"/><br/>
                        <!--controllo che sia diverso da quelli già inseriti! In caso messaggio: il libro inserito è già presente nel data base
                        meglio non lasciare il completamente di altri campi -->
                    </fieldset>
                    <fieldset>
                        <legend>Informazioni specifiche:</legend>
                        <label for="Lingua">Lingua originale : </label>
                        <input list="lingua" id="selezionalingua" name="lingua">
                        <datalist id="lingua" name="lingua">
                            {listaLingue}
                            <!--option between todos los idiomas del mundo-->
                        </datalist><br/>
                        <label for="casa editrice">Casa editrice: </label>
                        <input type="text" name="editore" id="editore" /><br/>
                        <label for="durata">Nunero capitoli: </label>
                        <input type="number" name="capitoli" id="capitoli" max="1000" required />
                    </fieldset>
                    <fieldset>
                        <legend>Storia :</legend>
                        <legend for="trama">Trama del libro:</legend>
                        <textarea id="trama" name="trama" rows="20" cols="70"></textarea>
                    </fieldset>
                    <fieldset>
                        <legend>Genere</legend>
                        <label for="genere">Seleziona : </label>
                        <input list="genere" id="genereInput" name="genere">
                        <datalist id="genere" name="genere">
                            {listaGeneri}
                            <!--php solo tra i generi che ho o lascio mettere genere nuovo? 
                            oppure compilazione che se non c'è aggiunge un genere ?-->
                        </datalist><br/>
                    </fieldset>
                    <fieldset>
                        <legend>Concludi l'inserimento:</legend>
                        <button type="submit">Invia</button>
                        <button type="reset">Elimina</button>
                        <!--messaggio prima di cancellare : sei sicuro di voler eliminare tutti i dati che hai compilato ? -->
                    </fieldset>
                </form>
            </section>
        </main>
        <footer id="footer">
            <ul>
                <li><a href="contatti.html">Contatti</a></li>
                <li><a href="chisiamo.html">Chi siamo</a></li>
                <li><a href="privacy.html"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>