<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Aggiungi Libro - BookClub</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/tablet.css" media="screen and (max-width:900px)">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
        <link rel="stylesheet" href="css/imageReplace.css" media="screen">
        <script src="conferme.js"></script>
        <script src="controlli.js"></script>
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <label for="hamburger" tabindex="0">
                <img src="menu.png"><!--ERRORE MANCA ALT-->
            </label>
            <input id="hamburger" type="checkbox">
            <dl>
                <dt><a href="admin.php"><span lang="en">Home</span></a></dt>
                <dt>Aggiungi un libro</dt>
                <dt><a href="tutti_libri.php">Catalogo libri</a></dt>
                <dt><a href="tutti_utenti.php">Archivio utenti</a></dt>
                <dt><a href="generi.php">Generi:</a></dt>
                {listaGeneri}
                <dt><a href="area_personale.php">Area personale</a></dt>
                <dt><a href="cerca.php">Cerca</a></dt>
            </dl>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <a href="admin.php"><span lang="en">Home</span></a> &gt;&gt; Aggiungi un libro</p>
        </nav>
        <main id="content">
            <section id="sectionAggiungiLibro">
                <h2>Aggiungi un nuovo libro</h2>
                <form method="post" action="aggiungi_libro.php" onsubmit="return validaModificaLibro()" onreset="return conferma('Sei sicuro/sicura di voler cancellare i dati inseriti?')"> 
                    {messaggiForm}
                    <fieldset>
                        <legend>Informazioni generali</legend>
                        <label for="titolo">Autore:</label>
                        <span><input type="text" id="autore" name="autore" maxlength="100" required></span>
                        
                        <label for="titolo">Titolo:</label>
                        <span><input type="text" name="titolo" id="titolo" maxlength="100" required></span>
                        
                        <label for="genere">Genere:</label>
                        <span>
                            <select name="genere" id="genere" required>
                                {selectGeneri}
                            </select>
                        </span>
                    </fieldset>
                    <fieldset>
                        <legend>Informazioni specifiche</legend>
                        <label for="lingua">Lingua originale:</label>
                        <span><input type="text" list="lingua_list" id="lingua" name="lingua" maxlength="25" required></span>
                        <datalist id="lingua_list">
                            {listaLingue}
                        </datalist>
                        
                        <label for="capitoli">Numero capitoli:</label>
                        <span><input type="number" name="capitoli" id="capitoli" min="1" max="1000" required></span>
                    </fieldset>
                    <fieldset>
                        <legend>Trama</legend>
                        <label for="trama">Trama del libro:</label>
                        <span><textarea id="trama" name="trama" rows="20" cols="70" maxlength="3000" required></textarea></span>
                    </fieldset>
                    <fieldset>
                        <legend>Concludi l'inserimento</legend>
                        <input type="submit" id="inserisci" name="inserisci" value="Inserisci">
                        <input type="reset" value="Annulla">
                    </fieldset>
                </form>
            </section>
        </main>
         <footer id="footer">
            <ul>
                <li><a href="contatti.php">Contatti</a></li>
                <li><a href="chisiamo.php">Chi siamo</a></li>
                <li><a href="privacy.php"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>