<!DOCTYPE html>
<!--arriva da cheda libro se clicca modifica o vede subito questo?-->
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>{TitoloLibro} - BookClub</title>
        <!--nome libro PHP-->
        <meta name="keywords" content="{keywords}">
        <!--come trovare le parole chiave?-->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/tablet.css" media="screen and (max-width:900px)">
        <link rel="stylesheet" href="css/print.css" media="print">
        <link rel="stylesheet" href="css/imageReplace.css" media="screen">
        <script src="conferme.js"></script>
        <script src="controlli.js"></script>
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <label for="hamburger" tabindex="0">
                <img src="menu.png"><!--ERRORE MANCA ALT-->
            </label>
            <input id="hamburger" type="checkbox">
            <dl>
                <dt><a href="index.php"><span lang="en">Home</span></a></dt>
                <dt><a href="aggiungi_libro.php">Aggiungi un libro</a></dt>
                <dt><a href="tutti_libri.php">Catalogo Libri</a></dt>
                <dt><a href="tutti_utenti.php">Archivio utenti</a></dt>
                <dt><a href="generi.php">Generi:</a></dt>
                {listaGeneri}
                <dt><a href="area_personale.php">Area Personale</a></dt>
                <dt><a href="cerca.php">Cerca</a></dt>
            </dl>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <a href="index.php"><span lang="en">Home</span></a>&gt; &gt; {titoloold}</p>
        </nav>
        <main id="content">
            <section id="modificaLibro">
                {messaggiErrore}
                <h2>Inserisci i nuovi dati del libro</h2>
                <form method="post" action="modifica_libro.php" onsubmit="return validaModificaLibro()" onreset="return conferma('Sei sicuro/sicura di voler annullare tutte le modifiche fatte?')"> 
                    {messaggiForm}
                    <fieldset>
                        <legend>Informazioni generali: </legend>
                        <label for="autore">Autore: </label>
                        <span><input type="text" id="autore" name="autore" placeholder="{autoreold}" value="{autoreold}" maxlength="100" required></span><br>
                        
                        <label for="titolo">Titolo: </label>
                        <span><input type="text" name="titolo" id="titolo" placeholder="{titoloold}" value="{titoloold}" maxlength="100" required></span><br>
                        
                        <label for="genere">Genere: </label>
                        <span>
                            <select name="genere" id="genere" placeholder="{genereold}" value="{genereold}" required>
                                {selectGeneri}
                            </select>
                        </span>
                    </fieldset>
                    <fieldset>
                        <legend>Informazioni specifiche:</legend>
                        <label for="lingua">Lingua originale: </label>
                        <span><input list="datalist_lingua" id="lingua" name="lingua" placeholder="{linguaold}" value="{linguaold}" required></span>
                        <datalist id="datalist_lingua">
                            {listaLingue}
                        </datalist><br>
                        
                        <label for="capitoli">Numero capitoli: </label>
                        <span><input type="number" name="capitoli" id="capitoli" min="1" max="1000" required placeholder="{capitoliold}" value="{capitoliold}"></span>
                    </fieldset>
                    <fieldset>
                        <legend>Trama:</legend>
                        <label for="trama">Trama del libro:</legend>
                        <span><textarea id="trama" name="trama" rows="20" cols="70" placeholder="{tramaold}" maxlength="3000" required>{tramaold}</textarea></span>
                    </fieldset>
                    <fieldset>
                        <legend>Conferma o annulla le modifiche:</legend>
                        <input type="hidden" id="id" name="id" value="{id_libro}">
                        <input type="submit" id="modifica" name="modifica" value="Modifica" onclick="return conferma('Sei sicuro/sicura di voler modificare il libro?')">
                        <input type="reset" value="Annulla">
                    </fieldset>
                </form>
            </section>
        </main>
         <footer id="footer">
            <ul>
                <li><a href="contatti.php">Contatti</a></li>
                <li><a href="chisiamo.php">Chi siamo</a></li>
                <li><a href="privacy.php"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>