<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Home admin - BookClub</title>
        <meta name="keywords" content="utenti, libri, statistiche, admin">
        <meta name="description" content="Homepage degli utenti admin, questa pagina è dedicata alle statistiche del sito, visualizzabbili dall'admin, riguardo i libri, le recensioni e gli utenti di BookClub">
        <meta name="author" content="Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/tablet.css" media="screen and (max-width:900px)">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
        <link rel="stylesheet" href="css/imageReplace.css" media="screen">
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <label for="hamburger" tabindex="0">
                <img src="menu.png" alt="">
            </label>
            <input id="hamburger" type="checkbox">
            <ul>
                <li><span lang="en">Home</span></li>
                <li><a href="aggiungi_libro.php">Aggiungi un libro</a></li>
                <li><a href="tutti_libri.php">Catalogo libri</a></li>
                <li><a href="tutti_utenti.php">Archivio utenti</a></li>
                <li>
                    <a href="generi.php">Generi:</a>
                    <ul>
                        {listaGeneri}
                    </ul>
                </li>
                <li><a href="area_personale.php">Area personale</a></li>
                <li><a href="cerca.php">Cerca</a></li>
            </ul>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <span lang="en">Home</span></p>
        </nav>
        <main  id="content">
            {messaggiSuccesso}
            <h2>Statistiche</h2>
            <section class="statistiche_generali">
                <div class="statistiche_admin">
                    <dl class="dati_lista_statistiche"> 
                        <div>
                            <dt>Numero totale di utenti registrati:</dt>
                            <dd>{numeroUtentiRegistrati}</dd>
                        </div>
                        <div>
                            <dt>Numero di utenti registati oggi:</dt>
                            <dd>{numeroRegistratiOggi}</dd>
                        </div>
                        <div>
                            <dt>Numero di utenti che stanno leggendo:</dt>
                            <dd>{numeroUtentiCheStannoLeggendo}</dd>
                        </div>
                        <div>
                            <dt>Età media degli utenti registrati:</dt>
                            <dd>{EtaMedia}</dd>
                        </div>
                    </dl>

                    <a href="tutti_utenti.php" >Vai all'archivio</a>
                </div>
                <div class="statistiche_admin">
                    <dl class="dati_lista_statistiche">
                        <div>
                            <dt>Numero totale di libri:</dt>
                            <dd>{numeroLibriTotali}</dd>
                        </div>
                        <div>
                            <dt>Numero totale di recensioni:</dt>
                            <dd>{numeroRecensioni}</dd>
                        </div>
                        <div>
                            <dt>Numero di libri terminati oggi:</dt>
                            <dd>{numeroLibriTerminati}</dd>
                        </div>
                    </dl>
                    <a href="tutti_libri.php" >Vai al catalogo dei libri</a>
                </div>
            </section>
        </main>
         <footer id="footer">
            <ul>
                <li><a href="contatti.php">Contatti</a></li>
                <li><a href="chisiamo.php">Chi siamo</a></li>
                <li><a href="privacy.php"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>