<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>AdminHome - BookClub</title>
        <meta name="keywords" content="libri ,migliori, generi, bestseller">
        <meta name="description" content="Questa pagina è dedicata ai migliori libri e generi per lettori in questo momento.">
        <meta name="author" content="">
        <!--<link rel="stylesheet" href="css/style.css">-->
    </head>
    <body>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
            <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
            <img src="logo" alt="Il logo è un libro aperto da cui escono delle pagine volanti">
        </header>
        <nav id="menu">
            <dl>
                <!--link di admin-->
                <dt><span lang="en">Home</span></dt>
                <!--l'home dell'admin ha o non ha le cose degli utenti? o ha una pagina per le statistice? -->
                <dt><a href="templateAggiungiLibro.html">Aggiungi un libro</a></dt>
                <dt><a href="templateAggiungiGenere.html">Aggiungi Genere</a></dt>
                <!--rimuovi da dove ci arriva? che pagine sono?
                forse è visualizza tutti i libri e visualizza tutti i generi? 
                da dentro il libro gestisce le recensioni-->
                <dt><a href="templateRiumuoviLibro.html">Rimuovi un Libro</a></dt>
                <dt><a href="templateRiumuoviRecensione.html">Rimuovi una Recensione</a></dt>
                <dt><a href="templateRiumuoviUtenti.html">Rimuovi Utenti</a></dt>
                <dt><a href="templateModificaLibro">Modifica Libro</a></dt>
                <!--non direttemante da qua o si ? -->
                <dt>Categorie</dt>
                <dd>{linkcategorie}</dd> 
                <!--metti php x menu con link alla pagina: <dd>templategenere.html-->
                <dt><a href="templateCerca.html">Cerca</a></dt>
            </dl>
        </nav>

        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <span lang="en">Home</span></p>
        </nav>
        <main  id="content">
            <h2>Statistiche:</h2>
                <dl class="Statistiche">
                    <dt>Numero Utenti Registrati:</dt>
                    <dd>{numeroUtentiRegistrati}</dd>
                    <dt>Numero Recensioni:</dt>
                    <dd>{NumeroRecensioni}</dd>
                    <dt>Libri Letti Oggi:</dt>
                    <dd>{LibriLettiTotOggi}</dd>
                    <!--se nel form mettiamo data di nascita ecc..
                    libri detti dall'inizio dell anno(prende l'anno attuale)
                    media età iscritti
                    genere iscritti 
                    area geografica

                    si possono mettere delle canvas per fare i grafici
                    -->
                </dl>
        </main>
        
        <footer id="footer">
            <ul>
                <li><a href="contatti.html">Contatti</a></li>
                <li><a href="chisiamo.html">Chi siamo</a></li>
                <li><a href="privacy.html"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>