<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Home - BookClub</title>
        <meta name="keywords" content="migliori libri, libri del momento, libri più letti, letture consigliate, bestseller, nuove uscite libri, classifica libri, cercare e salvare libri">
        <meta name="description" content="Pagina è dedicata ai migliori libri e generi in questo momento, offrendo letture consigliate in base ai libri più letti e alle loro valutazioni.">
        <meta name="author" content="Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/tablet.css" media="screen and (max-width:900px)">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
        <link rel="stylesheet" href="css/imageReplace.css" media="screen">
        <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <label for="hamburger" tabindex="0">
                <img src="menu.png" alt="">
            </label>
            <input id="hamburger" type="checkbox">
            <ul>
                <li><span lang="en">Home</span></li>
                <li><a href="generi.php">Generi:</a>
                    <ul>
                        {listaGeneri}
                    </ul>
                </li>
                <li><a href="accedi.php">Accedi</a></li>
                <li><a href="registrati.php">Registrati</a></li>
                <li><a href="cerca.php">Cerca</a></li>
            </ul>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <span lang="en">Home</span></p>
        </nav>
        <main id="content">
            <h2 class="titologenere"><span lang="en">Best seller</span></h2>
            <div class="slider-wrapper" data-items="2">
                <div class="slider">
                    {listaBestSeller}
                </div>
                <button class="prev" type="button"></button>
                <button class="next" type="button"></button>
            </div>
            {LibriGenere}
            {torna_su}
        </main>
         <footer id="footer">
            <ul>
                <li><a href="contatti.php">Contatti</a></li>
                <li><a href="chisiamo.php">Chi siamo</a></li>
                <li><a href="privacy.php"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
        <script src="slider.js"></script>
    </body>
</html>