<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Archivio utenti - BookClub</title>
        <meta name="keywords" content="utenti, utenti registrati, account, BookClub">
        <meta name="description" content="Questa pagina riporta le informazioni principali di tutti gli utenti registrati al sito BookClub">
        <meta name="author" content="Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/tablet.css" media="screen and (max-width:900px)">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
    </head>
    <body>
        <nav id="logo">
        <img src="logo.png" alt="Il logo è un libro aperto">
        </nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <label for="hamburger" tabindex="0">
                <img src="menu.png" alt="">
            </label>
            <input id="hamburger" type="checkbox">
            <ul>
                <li><a href="admin.php"><span lang="en">Home</span></a></li>
                <li><a href="aggiungi_libro.php">Aggiungi un libro</a></li>
                <li><a href="tutti_libri.php">Catalogo libri</a></li>
                <li>Archivio utenti</li>
                <li>
                    <a href="generi.php">Generi:</a>
                    <ul>
                        {listaGeneri} 
                    </ul>
                </li>
                <li><a href="area_personale.php">Area personale</a></li>
                <li><a href="cerca.php">Cerca</a></li>
            </ul>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <a href="admin.php"><span lang="en">Home</span></a> &gt;&gt; Archivio utenti</p>
        </nav>
        <main id="content">
            <h2>Tutti gli utenti</h2>
            <form method="post" action="tutti_utenti.php">
                <label  class="rimuovi_print" for="opzioni_ordinamento">Ordina per:</label>
                <select id="opzioni_ordinamento" name="opzione">
                    <option value="alfabetico_nome" {selected_alfabetico_nome}>Alfabetico per nome</option>
                    <option value="alfabetico_cognome" {selected_alfabetico_cognome}>Alfabetico per cognome</option>
                    <option value="alfabetico_username" {selected_alfabetico_username}>Alfabetico per username</option>
                    <option value="data_iscrizione_piu_recente" {selected_data_piu_recente}>Data iscrizione più recente</option>
                    <option value="data_iscrizione_meno_recente" {selected_data_meno_recente}>Data iscrizione meno recente</option>
                    <option value="attivi" {selected_attivi}>Più attivi</option>
                </select>
                <input type="submit" value="Ordina" name="ordina" id="ordina">
            </form>
            {ListaUtenti}
            {torna_su}
        </main>
         <footer id="footer">
            <ul>
                <li><a href="contatti.php">Contatti</a></li>
                <li><a href="chisiamo.php">Chi siamo</a></li>
                <li><a href="privacy.php"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>