
<!--IN QUESTA PAGINA è IMPORTANTE IL RANKING!!!!!!!!!!!!!-->

<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>{TitoloLibro} - BookClub</title>
        <meta name="keywords" content="{keywords}">
        <meta name="description" content="">
        <meta name="author" content="Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/tablet.css" media="screen and (max-width:900px)">
        <link rel="stylesheet" href="css/print.css" media="print">
        <link rel="stylesheet" href="css/imageReplace.css" media="screen">
        <script src="conferme.js"></script>
        <script src="controlli.js"></script>
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <label for="hamburger" tabindex="0">
                <img src="menu.png"><!--ERRORE MANCA ALT-->
            </label>
            <input id="hamburger" type="checkbox">
            <ul>
                {menu}<!--ERRORE MA CREDO VADA BENE -->
            </ul>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <a href="utente.php"><span lang="en">Home</span></a>&gt; &gt; <a href="genere.php?genere={GenereLibro}">{GenereLibro}</a> &gt; &gt; {TitoloLibro}</p>
        </nav>
        <main id="content">
            {messaggiErrore}
            {messaggiSuccesso}
            <div class="container">
                <h2 id="titolo">{TitoloLibro}</h2>
                <img src="{ImmagineLibro}" alt="{altlibro}" height="400">
                <dl class="datilistalibro">
                    <div>
                        <dt>Autore: </dt>
                        <dd>{AutoreLibro}</dd>
                    </div>
                    <div>
                        <dt>Genere: </dt>
                        <dd>{GenereLibro}</dd>
                    </div>
                    <div>
                        <dt>Lingua: </dt>
                        <dd>{LinguaLibro}</dd>
                    </div>
                    <div>
                        <dt>Numero capitoli: </dt>
                        <dd>{CapitoliLibro}</dd>
                    </div>
                    <div>
                        <dt>Voto medio della nostra <span lang="en">community</span>: </dt>
                        <dd>{mediavoti}</dd>
                    </div>
                </dl>
                {bottoniAdmin}
            </div>
            <h3>Menù</h3>
            <div class="menu_scheda_libro">
                <ul class="menulibro">    
                    <li><a href="#trama">Vai alla trama</a></li><!--ERRORE Element dd not allowed as child of element ul in this context. (Suppressing further errors from this subtree.)-->
                    {menupersonale}
                    <li><a href="#community">Vai alle recensioni della <span lang="en">community</span></a></li><!--ERRORE Element dd not allowed as child of element ul in this context. (Suppressing further errors from this subtree.)-->
                </ul>
            </div>
            <div>
                <dl>
                    <dt id="trama">Trama:</dt>
                    <dd class="trama_contenuto">{tramaLibro}</dd>
                </dl>
            </div>
            <div id="recensionetua">
                {arearecensionevotoform}
            </div>
            <section>
                <h4 id="community">Recensioni della <span lang="en">community</span></h4>
                {recensioniComunity}
            </section>
            <nav aria-label="Torna all\' inizio dei dati del libro">
                <a class="torna_su" href="#content">Torna su</a>
            </nav> 
        </main>
        <footer id="footer">
            <ul>
                <li><a href="contatti.php">Contatti</a></li>
                <li><a href="chisiamo.php">Chi siamo</a></li>
                <li><a href="privacy.php"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>