<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Home - BookClub</title>
        <meta name="keywords" content="libri ,migliori, generi, bestseller">
        <meta name="description" content="Questa pagina è dedicata ai migliori libri e generi per lettori in questo momento.">
        <meta name="author" content="">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
            <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
            <img src="logo" alt="Il logo del sito è un libro aperto da cui escono delle pagine volanti">
        </header>
        <nav id="menu">
           
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: :<a href="templateHome.html"><span lang="en">Home</span></a>&gt; &gt; Esplora</p>
        <span class="separatore"></span>
        </nav>
        <main  id="content">
<main id="content">
    <section id="sectionAggiungiLibro">
        <h2>Seleziona un Genere</h2>
            <legend>Genere</legend>
            <label for="genere">Seleziona : </label>
            <select id="genere" name="genere">
            {listaGeneri}
            </select>
</main>
<footer id="footer">
    <ul>
        <li><a href="contatti.html">Contatti</a></li>
        <li><a href="chisiamo.html">Chi siamo</a></li>
        <li><a href="privacy.html"><span lang="en">Privacy</span></a></li>
    </ul>
    <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
</footer>
</body>
</html>