<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Recensioni -BookClub</title>
        <meta name="keywords" content=""><!--hanno senso le keyword qua?-->
        <meta name="description" content="Questa pagina dell'admin è per aggiungere un genere">
        <meta name="author" content="">
        <!--<link rel="stylesheet" href="css/style.css">-->
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <dl>
                <!--link di admin-->
                <dt><a href="templateHomeAdmin.html"><span lang="en">Home</span></a></dt>
                <dt><a href="templateAggiungiLibro.html">Aggiungi un libro</a></dt>
                <dt><a href="templateAggiungiGenere.html">Aggiungi Genere</a></dt>
                <dt><a href="templateTuttiLibri.html">Catalogo libri</a></dt>
                <dt>Recensioni</dt>
                <dt><a href="templateTuttiUtenti.html">Archivio utenti</a></dt>
                <dt><a href="templateModificaLibro.html">Modifica Libro</a></dt>
                <!--non direttemante da qua o si ? -->
                <dt>Categorie</dt>
                <dd>{linkcategorie}</dd> 
                <!--metti php x menu con link alla pagina: <dd>templategenere.html-->
                <dt><a href="templateCerca.html">Cerca</a></dt>
            </dl>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: :<a href="templateHomeAdmin.html"><span lang="en">Home</span></a>&gt; &gt; Recensioni</p>
        </nav>
        <main id="content">
            <h2>Tutte le recensioni:</h2>
            {Recensioni}<!--trona la lista/tabella delle recensioni con button x eliminarle e button x like-->
        </main>
        <footer id="footer">
            <ul>
                <li><a href="contatti.html">Contatti</a></li>
                <li><a href="chisiamo.html">Chi siamo</a></li>
                <li><a href="privacy.html"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>