<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Catalogo Libri -BookClub</title>
        <meta name="keywords" content=""><!--hanno senso le keyword qua?-->
        <meta name="description" content="Questa pagina dell'admin è per aggiungere un genere">
        <meta name="author" content="Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <label for="hamburger" tabindex="0">
                <img src="menu.png"><!--ERRORE MANCA ALT-->
            </label>
            <input id="hamburger" type="checkbox">
            <dl>
                <!--link di admin-->
                <dt><a href="admin.php"><span lang="en">Home</span></a></dt>
                <dt><a href="aggiungi_libro.php">Aggiungi un libro</a></dt>
                <dt>Catalogo Libri</dt>
                <dt><a href="tutti_utenti.php">Archivio utenti</a></dt>
                <dt><a href="modifica_libro.php">Modifica Libro</a></dt>
                <!--non direttemante da qua o si ? -->
                <dt>Categorie</dt>
                {listaGeneri} 
                <!--metti php x menu con link alla pagina: <dd>templategenere.html-->
                <dt><a href="area_personale.php">Area Personale</a></dt>
                <dt><a href="cerca.php">Cerca</a></dt>
            </dl><!--ERRORE MANCA DL-->
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: :<a href="admin.php"><span lang="en">Home</span></a>&gt; &gt; Recensioni</p>
        </nav>
        <main id="content">
            <h2>Tutti i libri:</h2>
            <form method="post" action="tutti_libri.php">
                <label for="opzioni_ordinamento">Ordina per:</label>
                <select id="opzioni_ordinamento" name="opzione">
                    <option value="alfabetico" {selected_alfabetico}>Alfabetico</option>
                    <option value="popolarita" {selected_popolarita}>Popolarità</option>
                    <option value="piu_recente" {selected_piu_recente}>Più recente</option>
                    <option value="meno_recente" {selected_meno_recente}>Meno recente</option>
                </select>
                <input type="submit" value="Ordina" name="ordina" id="ordina">
            </form>

            <!--scelta ordinamento-->
            {CatalogoLibri} 
            <!--trona la lista/tabella delle recensioni con button x eliminarle e button x like e senza immagini-->
            <nav aria-label="Torna al form di ricerca">
                <a class="torna_su" href="#content">Torna su</a>
            </nav> 
        </main>
        <footer id="footer">
            <ul>
                <li><a href="contatti.html">Contatti</a></li>
                <li><a href="chisiamo.html">Chi siamo</a></li>
                <li><a href="privacy.html"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>