<!DOCTYPE html>
<html lang="it">
    <head>
        <!--come risolvere i link tutti uguali?-->
        <meta charset="UTF-8">
        <!--si può mettere il nome del genere come titolo con php o non fa bene il ranking?-->
        <title>Generi - BookClub</title>
        <meta name="keywords" content="{keyword}">
        <meta name="description" content="{nomegeneredescription}">
        <meta name="author" content="Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <label for="hamburger" tabindex="0">
                <img src="menu.png"><!--ERRORE MANCA ALT-->
            </label>
            <input id="hamburger" type="checkbox">
            <ul>
                {menu}<!--ERRORE ANCHE SE CREDO SIA GIUSTO-->
            </ul>
            <!--il menù dipende dall'account in cui sono !! se sono admin le suo voci, se sono utente normale le mie voci o se sono non registrato -->
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in:<a href="index.php"><span lang="en">Home</span></a>&gt; &gt; Generi</p>
        </nav>
        <main  id="content">
            <h2>Generi</h2>
            <ul id="generi">
                {Generi}
            </ul>
        <nav aria-label="Torna al form di ricerca">
            <a class="torna_su" href="#content">Torna su</a>
        </nav> 
        </main>
         <footer id="footer">
            <ul>
                <li><a href="contatti.php">Contatti</a></li>
                <li><a href="chisiamo.php">Chi siamo</a></li>
                <li><a href="privacy.php"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>