<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Da leggere-BookClub</title>
        <meta name="keywords" content="libri da leggere, lista libri, futuri libri">
        <meta name="description" content="Questa pagina è per gli utenti che vogliono salvare dei libri da leggere in futuro creando la loro lista di letture.">
        <!--questa non può essere indicizzata !?-->
        <meta name="author" content="Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
        <script src="conferme.js"></script>
        <script src="controlli.js"></script>
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <label for="hamburger" tabindex="0">
                <img src="menu.png"><!--ERRORE MANCA ALT-->
            </label>
            <input id="hamburger" type="checkbox">
            <dl>
                <dt><a href="utente.php"><span lang="en">Home</span></a></dt>
                <dt><a href="stai_leggendo.php">Libri che stai leggendo</a></dt>
                <dt><a href="terminati.php">Libri terminati</a></dt>
                <dt>Libri da leggere</dt>
                <!--dove può inserire una recensione? solo dal libro, solo dalla home, dalla pagina letti? o dappertutto?-->
                <dt><a href="generi.php">Generi:</a></dt>
                {listaGeneri}
                <!--php x menu con categorie link a templategenere-->
                <dt><a href="statistiche.php">Statistiche</a></dt>
                <dt><a href="area_personale.php">Area Personale</a></dt>
                <dt><a href="cerca.php">Cerca</a></dt>
            </dl><!--ERRORE DL-->
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <a href="utente.php"><span lang="en">Home</span></a>&gt; &gt;Libri da leggere</p>
        </nav>
        <main  id="content">
            <h2>Libri che hai salvato da leggere</h2>
            {listaLibri}
            {tornasu}
        </main>
         <footer id="footer">
            <ul>
                <li><a href="contatti.php">Contatti</a></li>
                <li><a href="chisiamo.php">Chi siamo</a></li>
                <li><a href="privacy.php"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>