<!DOCTYPE html>
<html lang="it">
<!--deinire una icona per la pagina quando visualizzata assieme ad altre= un libro -->
    <!--nel file ci sono cose in più per il php da togliere!!-->
    <head>
        <meta charset="UTF-8">
        <title>Classifica Libri-BookClub</title>
        <!--titolo not the best-->
        <!--IN QUESTA PAGINA è IMPORTANTE IL RANKING-->
        <meta name="keywords" content="migliori libri, libri del momento,libri più letti, letture consigliate,bestseller,nuove uscite libri,classifica libri,cercare e salvare libri">
        <meta name="description" content="Questa pagina è dedicata ai migliori libri (bestseller) e generi per lettori in questo momento offrendo letture consigliate in base ai libri più letti, alla classifica e alle nuove uscite.Una volta registrati si possono salvare libri e recensirli">
        <meta name="author" content="">
        <link rel="stylesheet" href="css/style.css" media="screen"> <!-- da questa cartella il verso percorso dovrebbe essere ../css/style.css, però quando il php carica questa pagina si trova già alla cartella precedente -->
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
    </head>
    <body>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
            <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
            <img src="logo" alt="Il logo è un libro aperto da cui escono delle pagine volanti">
        </header>
        <nav id="menu">
            <dl>
                <dt><span lang="en">Home</span></dt>
                <dt>Categorie</dt>
<dd>{linkcategorie}</dd> 
                <!--php x menu con categorie-->
                <dt><a href="templateAccedi.html">Accedi</a></dt>
                <dt><a href="templateRegistrati.html">Registrati</a></dt>
                <dt><a href="templateCerca.html">Cerca</a></dt>
                            </dl>
        </nav>
        
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <span lang="en">Home</span></p>
        </nav>
        <main  id="content">
            <h2 class="titologenere">Best seller:</h2>
            <ol class="listabestseller">
                <article>
                    <li><!--sono in realtà link a libri !-->{listaBestSeller}</li> 
                    <!--article-->
                </article>
<!--da css si deve poter fermare libro che gira-->
            </ol>
            <!--css togliere i numeri e i pallini delle liste-->
            <hr><!--da decidere se da css o qua la linea -->
            <h3><a href="templateGenere.html">{genere1}</a></h3>
            <ol class="listageneri">
                <article>
<!--sono liste a link template SchedaLibro-->
                    <!--da togliere , usare article x ogni php-->
                    <li>{listaGeneri}</li> <!--CHIEDERE 2 CON ARTICLE E LI-->
                </article>
            </ol>
            <h3><a href="templateGenere.html">{genere2}</a></h3>
            <ol class="listageneri">
                <article>
                    <li>{listaGeneri}</li>
                </article>
            </ol>
            <h3><a href="templateGenere.html">{genere3}</a></h3>
            <ol class="listageneri">
                <article>
                    <li>{listaGeneri}</li>
                </article>
            </ol>
            <h3><a href="templateGenere.html">{genere4}</a></h3>
            <ol class="listageneri">
                <article>
                    <li>{listaGeneri}</li>
                </article>
            </ol>
    </main>
        <footer id="footer">
            <ul>
                <li><a href="contatti.html">Contatti</a></li>
                <li><a href="chisiamo.html">Chi siamo</a></li>
                <li><a href="privacy.html"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>