<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Aggiungi Genere -BookClub</title>
        <meta name="keywords" content="aggiungi genere, nuovo genere">
        <meta name="description" content="Questa pagina dell'admin è per aggiungere un genere">
        <meta name="author" content="Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <dl>
                <dt><a href="admin.php"><span lang="en">Home</span></a></dt>
                <dt><a href="aggiungi_libro.php">Aggiungi un libro</a></dt>
                <dt>Aggiungi Genere</dt>
                <dt><a href="tutti_libri.php">Catalogo libri</a></dt>
                <dt><a href="templatetutteRecensioni.html">Recensioni</a></dt>
                <dt><a href="tutti_utenti.php">Archivio utenti</a></dt>
                <dt><a href="aggiungi_libro.php">Modifica Libro</a></dt>
                <dt>Categorie</dt>
                <dd>{linkcategorie}</dd> 
                <!--mettere php x menu con link alla pagina: <dd>templategenere.html-->
                <dt><a href="templateCerca.html">Cerca</a></dt>
            </dl>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <a href="admin.php"><span lang="en">Home</span></a>&gt; &gt; Aggiungi Genere</p>
        </nav>
        <main id="content">
            <section id="sectionAggiungiGenere">
                <h2>Inserisci una nuovo Genere</h2>
                <form method="post" action="aggiungiGenereAdmin.php"> 
                    <!--da fare php-->
                    {messaggiForm}
                    <fieldset>
                        <legend>Genere</legend>
                        <legend for="genere">Inserisci un nuovo genere:</legend>
                        <input type="text" id="genere" name="genere" min="1" max="20" required>
                        <!--controllo che sia diverso da quelli già inseriti! In caso messaggio: il genere inserito è già presente nel data base-->
                    </fieldset>
                    <fieldset>
                        <legend>Concludi l'inserimento:</legend>
                        <button type="submit">Invia</button>
                        <button type="reset">Elimina</button>
                        <!--messaggio prima di cancellare : sei sicuro di voler eliminare tutti i dati che hai compilato ? -->
                    </fieldset>
                </form>
            </section>
        </main>
        <footer id="footer">
            <ul>
                <li><a href="contatti.html">Contatti</a></li>
                <li><a href="chisiamo.html">Chi siamo</a></li>
                <li><a href="privacy.html"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>