<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Accedi-BookClub</title>
        <meta name="author" content="Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola">
        <meta name="keywords" content="accedi, accesso BookClub,account, login BookClub">
        <meta name="description" content="Questa pagina consente l'accesso all'account nel sito BookClub.">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <dl>
                <dt><a href="index.php"><span lang="en">Home</span></a></dt>
                <dt>Categorie</dt>
                {listaGeneri}
                <dt>Accedi</dt>
                <dt><a href="registrati.php">Registrati</a></dt>
                <dt><a href="cerca.php">Cerca</a></dt>
            </dl>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <a href="templateHomeNonRegistrato.html"><span lang="en">Home</span></a>&gt; &gt; Accedi</p>
        </nav>
        <main id="content">
            <section id="accediform">
                <h2>Inserisci i dati per l'accesso:</h2>
                <form id="loginForm" action="accedi.php" method="post"> 
                    <ul class="messaggiErrore">
                        {messaggi}
                        <!--con js non lasciare submit se i campi dati non sono compilati correttamente-->
                    </ul>
                    <fieldset>
                        <label for="username"><span lang="en">Username</span>:</label><br>
                        <input type="text" id="username" name="username" maxlength="10" required required><br>
                        <label for="password"><span lang="en">password</span>:</label><br>
                        <input type="password" id="password" name="password" maxlength="10" required required><br>
                        <input type="submit" id="accedi" name="accedi" value="Accedi">
                        <input type="reset" id="reset" name="reset" value="Cancella"/>
                    </fieldset>
                </form>
            </section>
            <div> 
                <p>Non hai ancora un <span lang="en">account</span>?</p>
                <p>Entra a far parte della nostra <span lang="en">community</span>!</p>
                <a href="tregistrati.php">Registrati</a>
                <!--css immagine-->
            </div> 
        </main>
        <footer id="footer">
            <ul>
                <li><a href="contatti.html">Contatti</a></li>
                <li><a href="chisiamo.html">Chi siamo</a></li>
                <li><a href="privacy.html"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>