<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Statistiche - BookClub</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola">
        <!--<link rel="stylesheet" href="css/style.css">-->
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <dl>
                <dt><a href="utente.php"><span lang="en">Home</span></a></dt>
                <dt><a href="stai_leggendo.php">Libri che stai leggendo</a></dt>
                <dt><a href="terminati.php">Libri terminati</a></dt>
                <dt><a href="da_leggere.php">Libri da leggere</a></dt>
                <dt><a href="recensione.php">Aggiungi Recensione</a></dt>
                <!--dove può inserire una recensione? solo dal libro, solo dalla home, dalla pagina letti? o dappertutto?-->
                <dt>Lista Generi:</dt>
                {listaGeneri}
                <!--php x menu con categorie link a templategenere-->
                <dt>Statistiche</dt>
                <dt><a href="area_personale.php">Area Personale</a></dt>
                <dt><a href="cerca.php">Cerca</a></dt>
            </dl>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <a href="utente.php"><span lang="en">Home</span></a>&gt; &gt; Statistiche </p>
        </nav>
        <main  id="content">
            <h2>Statistiche:</h2>
                <dl class="Statistiche">
                    <dt>Numero recensioni scritte :</dt>
                    <dd>{NumeroRecensioni}</dd>
                    <dt>Numero libri letti:</dt>
                    <dd>{LibriLetti}</dd>
                    <!--si può mettere link alle recensioni? -->
                    <!--si possono mettere delle canvas per fare i grafici-->
                </dl>
        </main>
        <footer id="footer">
            <ul>
                <li><a href="contatti.html">Contatti</a></li>
                <li><a href="chisiamo.html">Chi siamo</a></li>
                <li><a href="privacy.html"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>