<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Prima pagina</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <link rel="stylesheet" href="css/style.css">

    </head>
    <body>
        <header>
            <h1 class="titolo">BookClub</h1>
        </header>
        <nav id="menu">
            <ul>
                <li>Accedi</li>
                <li>Registrati</li>
                <li><a href="cerca.html">Cerca</a></li>
            </ul>
        </nav>

        <nav id="breadcrumbs">
            <p>Ti trovi in: <a href="templateHome.html"><span lang="en">Home</span></a>&gt; &gt; Accedi</p>
        </nav>

        <main>
            <h2>Accedi</h2>
            <form id="loginForm" action="accedi.php" method="post">
                {messaggi}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <span class="separatore"></span>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <span class="separatore"></span>
                <input type="submit" id="submit" name="submit" value="Accedi">
                <input type="reset" id="reset" value="Cancella tutto"/>
            </form>

            <span class="separatore"></span>

            <nav> 
                <p>Non hai ancora un account?</p>
                <a href="templateRegistrati.html">Registrati</a>
                <p>Entra a far parte della nostra <span lang="en">community</span>!</p>
            </nav> 
            
            <span class="separatore"></span>
        </main>

        <footer id="footer">
            <ul>
                <li><a href="contatti.html">Contatti</a></li>
                <li><a href="chisiamo.html">Chi siamo</a></li>
                <li><a href="privacy.html"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>