<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Aggiungi Libro -BookClub</title>
        <meta name="keywords" content="nuovi libri, inserimento">
        <meta name="description" content="Questa pagina dell'admin è per inserire nuovi libri.">
        <meta name="author" content="Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <label for="hamburger" tabindex="0">
                <img src="menu.png"><!--ERRORE MANCA ALT-->
            </label>
            <input id="hamburger" type="checkbox">
            <dl>
                <!--link di admin-->
                <dt><a href="admin.php"><span lang="en">Home</span></a></dt>
                <!--l'home dell'admin ha o non ha le cose degli utenti? o ha una pagina per le statistice? -->
                <dt>Aggiungi un libro</dt>
                <dt><a href="tutti_libri.php">Catalogo libri</a></dt>
                <dt><a href="tutti_utenti.php">Archivio utenti</a></dt>
                <!--non direttemante da qua o si ? -->
                <dt><a href="generi.php">Generi:</a></dt>
                {listaGeneri}
                <dt><a href="area_personale.php">Area Personale</a></dt>
                <!--vale anche per l'admin può cambiare credenziali -->
                <!--metti php x menu con link alla pagina: <dd>templategenere.html-->
                <dt><a href="cerca.php">Cerca</a></dt>
            </dl><!--ERRORE dl-->
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: :<a href="admin.php"><span lang="en">Home</span></a>&gt; &gt; Aggiungi Libro</p>
        </nav>
        <main id="content">
            <section id="sectionAggiungiLibro">
                <h2>Inserisci un nuovo Libro</h2>
                <form method="post" action="aggiungi_libro.php"> 
                    {messaggiForm}
                    <fieldset>
                        <legend>Informazioni generali: </legend>
                        <label for="titolo">Autore: </label>
                        <input type="text" id="autore" name="autore" required><!--ERRORE CORRETTO MIN NON DISPONIBILE PER TEXT--><!--ERRORE CORRETTO MAX NON DISPONIBILE PER TEXT-->
                        <br><!--ERRORE CORRETTO TOLTO LO SLASH-->
                        <label for="titolo">Titolo: </label>
                        <input type="text" name="titolo" id="titolo" required><br><!--ERRORE CORRETTO MAX NON DISPONIBILE PER TEXT--><!--ERRORE CORRETTO MIN TOLTI SLASH-->
                        <!--controllo che sia diverso da quelli già inseriti! In caso messaggio: il libro inserito è già presente nel data base
                        meglio non lasciare il completamente di altri campi -->
                    </fieldset>
                    <fieldset>
                        <legend>Informazioni specifiche:</legend>
                        <label id="Lingua">Lingua originale: </label><!--ERRORE CORRETTO FOR SOSTITUITO DA ID-->
                        <input list="lingua" id="selezionalingua" name="lingua" required>
                        <datalist id="lingua" ><!--ERRORE CORRETTO RIMOSSO NAME-->
                            {listaLingue}
                            <!--option between todos los idiomas del mundo-->
                        </datalist><br><!--ERRORE CORRETTO TOLTO SLASH-->
                        <!-- <label for="casa editrice">Casa editrice: </label>
                        <input type="text" name="editore" id="editore" /><br/>-->
                        <label id="durata">Numero capitoli: </label><!--ERRORE CORRETTO FOR SOSTITUITO DA ID-->
                        <input type="number" name="capitoli" id="capitoli" max="1000" required><!--ERRORE CORRETTO TOLTO SLASH-->
                    </fieldset>
                    <fieldset>
                        <legend>Storia :</legend>
                        <legend for="trama">Trama del libro:</legend><!--Element legend not allowed as child of element fieldset in this context. (Suppressing further errors from this subtree.)-->
                        <textarea id="trama" name="trama" rows="20" cols="70" required></textarea>
                    </fieldset>
                    <fieldset>
                        <legend>Genere</legend>
                        <label id="genere">Seleziona: </label><!--ERRORE CORRETTO FOR SOSTITUITO DA ID-->
                        <select name="genere" id="genere" required> <!--ERRORE CORRETTO RIMOSSO NAME--><!--ERRORE Attribute value not allowed on element datalist at this point. /-->
                            {selectGeneri}
                            <!--option between todos los generos del mundo-->
                        </select><!--ERRORE CORRETTO RIMOSSO SLASH-->
                    </fieldset>
                    <fieldset>
                        <legend>Concludi l'inserimento:</legend>
                        <button type="submit" id="inserisci" name="inserisci">Invia</button>
                        <button type="reset">Reset</button>
                        <!--messaggio prima di cancellare : sei sicuro di voler eliminare tutti i dati che hai compilato ? -->
                    </fieldset>
                </form>
            </section>
        </main>
        <footer id="footer">
            <ul>
                <li><a href="contatti.html">Contatti</a></li>
                <li><a href="chisiamo.html">Chi siamo</a></li>
                <li><a href="privacy.html"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>