<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Stai leggendo-BookClub</title>
        <meta name="keywords" content="libri da leggere,libri in corso, libri che stai leggendo,avanzamento capitoli">
        <meta name="description" content="Questa pagina è per tenere traccia dei libri che stai leggendo e il loro avanzamento nei capitoli.">
        <!--questa non può essere indicizzata !?-->
        <meta name="author" content="Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <dl>
                <dt><a href="utente.php"><span lang="en">Home</span></a></dt>
                <dt>Libri che stai leggendo</dt>
                <dt><a href="terminati.php">Libri terminati</a></dt>
                <dt><a href="da_leggere.php">Libri da leggere</a></dt>
                <dt><a href="recensione.php">Aggiungi Recensione</a></dt>
                <!--dove può inserire una recensione? solo dal libro, solo dalla home, dalla pagina letti? o dappertutto?-->
                <dt>Lista Generi:</dt>
                {listaGeneri}
                <!--php x menu con categorie link a templategenere-->
                <dt><a href="statistiche.php">Statistiche</a></dt>
                <dt><a href="area_personale.php">Area Personale</a></dt>
                <dt><a href="cerca.php">Cerca</a></dt>
            </dl>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <a href="templateHomeUtente.html"><span lang="en">Home</span></a>&gt; &gt;Libri Terminati</p>
        </nav>
        <main  id="content">
            <h2>Libri che stai leggendo:</h2>
            {listaLibri}
            <!-- link a template scheda libro-->
            <!--dati tabellari ordinati x data + recente string img(? xo da css togliere la lettura della 1 colonna ), titolo , autore , genere
                oppure img non passata ma sempre img replace con alt x invogliare alla lettura
            da css per telefono lasciare solo img titolo e genere-->
            <!--botton per inizia a leggere e js che dice che il libro sarà inserito nel libri che stai leggendo ed eliminato dalla lista -->
            <!--botton per eliminarlo dalla lista e js che dice che il libro sarà eliminato dai suoi salvati se è sicuro -->
        </main>
        <footer id="footer">
            <ul>
                <li><a href="contatti.html">Contatti</a></li>
                <li><a href="chisiamo.html">Chi siamo</a></li>
                <li><a href="privacy.html"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>