<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Home - BookClub</title>
        <meta name="keywords" content="libri ,migliori, generi, bestseller">
        <meta name="description" content="Questa pagina è dedicata ai migliori libri e generi per lettori in questo momento.">
        <meta name="author" content="">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
    </head>
    <body>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
            <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
            <img src="logo" alt="Il logo del sito è un libro aperto da cui escono delle pagine volanti">
        </header>
        <nav id="menu">
            <ul>
                <li><a href="templateAccedi.html">Accedi</a></li>
                <li><a href="templateRegistrati.html">Registrati</a></li>
                <li><a href="templateEsplora.html">Esplora</a></li>
                <li><a href="cerca.html">Cerca</a></li>
            </ul>

        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <span lang="en">Home</span></p>
        <span class="separatore"></span>
        </nav>
        <main  id="content">
            <h2>Migliori titoli del momento</h2>
               {listaMiglioriLibri}
            <h3 class="titologenere"><a href="templateGenere.html">{NomeGenere1}</a></h3>
            <ul class="listageneri"> 
                {ListaGenere1}
            </ul>
            <span class="separatore"></span>
            <h3 class="titologenere"><a href="templateGenere.html">{NomeGenere2}</a></h3>
            <ul class="listageneri"> 
                {ListaGenere2}
            </ul>
            <h3 class="titologenere"><a href="templateGenere.html">{NomeGenere3}</a></h3>
            <ul class="listageneri"> 
                {ListaGenere3}
            </ul>
            <span class="separatore"></span>
            <h3 class="titologenere"><a href="templateGenere.html">{NomeGenere4}</a></h3>
            <ul class="listageneri"> 
                {ListaGenere4}
            </ul>
            <span class="separatore"></span>
            <h3 class="titologenere"><a href="templateGenere.html">{NomeGenere5}</a></h3>
            <ul class="listageneri"> 
                {ListaGenere5}
            </ul>
        </main>
        <footer id="footer">
            <ul>
                <li><a href="contatti.html">Contatti</a></li>
                <li><a href="chisiamo.html">Chi siamo</a></li>
                <li><a href="privacy.html"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>