<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Statistiche - BookClub</title>
        <meta name="keywords" content="statistiche, dati, informazioni, numero libri letti, numero libri salvati, numero recensioni, utente, account">
        <meta name="description" content="Questa pagina contiene diverse informazioni riguardo i libri letti, salvati e recensiti dall'utente">
        <meta name="author" content="Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/tablet.css" media="screen and (max-width:900px)">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
    </head>
    <body>
        <div id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></div>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu" aria-label="Menu">
            <label for="hamburger" tabindex="0">
                Apri menu
                <img src="menu.png" alt="Icona per aprire il menu ad hamburger">
            </label>
            <input id="hamburger" type="checkbox">
            <ul>
                <li><a href="utente.php"><span lang="en">Home</span></a></li>
                <li><a href="stai_leggendo.php">Libri che stai leggendo</a></li>
                <li><a href="terminati.php">Libri terminati</a></li>
                <li><a href="da_leggere.php">Libri da leggere</a></li>
                <li>
                    <a href="generi.php">Generi:</a>
                    <ul>
                        {listaGeneri}
                    </ul>
                </li>
                <li>Statistiche</li>
                <li><a href="area_personale.php">Area personale</a></li>
                <li><a href="cerca.php">Cerca</a></li>
            </ul>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <a href="utente.php"><span lang="en">Home</span></a> &gt;&gt; Statistiche </p>
        </nav>
        <main id="content">
            <section>
                <h2>Statistiche</h2>
                <div class="contenitore_lista_dati_statistiche">
                    <dl class="lista_dati_statistiche">
                        <dt>Numero libri recensiti in totale:&nbsp;</dt>
                        <dd>{NumeroRecensioni}</dd>
                        <dt>Numero libri letti in totale:&nbsp;</dt>
                        <dd>{LibriLetti}</dd>
                        <dt>Numero libri letti quest'anno:&nbsp;</dt>
                        <dd>{LibriLettiAnno}</dd>
                        <dt>Numero libri attualmente salvati:&nbsp;</dt>
                        <dd>{LibriSalvati}</dd>
                        <dt>Numero libri che stai leggendo attualmente:&nbsp;</dt>
                        <dd>{LibriStaiLeggendo}</dd>
                    </dl>
                </div>
            </section>
            <div id="messaggio_motivazionale">
                {messaggio_motivazionale}
                <img id="faccina" src="smile.png" alt="">
            </div>
        </main>
        <footer id="footer">
            <ul>
                <li><a href="contatti.php">Contatti</a></li>
                <li><a href="chisiamo.php">Chi siamo</a></li>
                <li><a href="privacy.php"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>