<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Terminati-BookClub</title>
        <meta name="keywords" content="libri letti, lista libri, valutazione libri, voto libri">
        <meta name="description" content="Questa pagina è per gli utenti che vogliono avere la lista di libri letti fino ad ora con il voto dato.">
        <!--questa non può essere indicizzata !?-->
        <meta name="author" content="">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
    </head>
    <body>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
            <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <img src="logo" alt="">
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
            
        </header>
        <nav id="menu">
            <dl>
                <dt><a href="templateHomeUtente.html"><span lang="en">Home</span></a></dt>
                <dt><a href="templateStaiLeggendo.html">Libri che stai leggendo</a></dt>
                <dt>Libri terminati</dt>
                <dt><a href="templateDaLeggere.html">Libri da leggere</a></dt>
                <dt><a href="templateAggiungiRecensione.html">Aggiungi Recensione</a></dt>
                <!--dove può inserire una recensione? solo dal libro, solo dalla home, dalla pagina letti? o dappertutto?-->
                <dt>Lista Generi:</dt>
                {listaGeneri}
                <!--php x menu con categorie link a templategenere-->
                <dt><a href="templateStatisticheUtente.html">Statistiche</a></dt>
                <dt><a href="templateAreaPersonale.html">Area Personale</a></dt>
                <dt><a href="templateCerca.html">Cerca</a></dt>
            </dl>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <a href="templateHomeUtente.html"><span lang="en">Home</span></a>&gt; &gt; Libri Terminati</p>
        </nav>
        <main  id="content">
            <h2>Libri che hai terminato di leggere:</h2>
            {listaLibri}
            <!-- link a template scheda libro-->
            <!--dati tabellari ordinati x data + recente string img(? xo da css togliere la lettura della 1 colonna ), titolo , autore , genere
                oppure img non passata ma sempre img replace con alt x invogliare alla lettura
            da css per telefono lasciare solo img titolo e genere-->
            <!--botton per recensire-->
            <!--botton per eliminarlo dalla lista e js che dice che il libro sarà eliminato se è sicuro -->
        </main>
        <footer id="footer">
            <ul>
                <li><a href="contatti.html">Contatti</a></li>
                <li><a href="chisiamo.html">Chi siamo</a></li>
                <li><a href="privacy.html"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>