<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Registrati - BookClub</title>
        <meta name="keywords" content="registrati, registrazione BookClub, account, sign in BookClub">
        <meta name="description" content="Questa pagina consente la registrazione di un account nel sito BookClub.">
        <meta name="author" content="Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/tablet.css" media="screen and (max-width:900px)">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
        <link rel="stylesheet" href="css/imageReplace.css" media="screen">
        <script src="conferme.js"></script>
        <script src="controlli.js"></script>
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <label for="hamburger" tabindex="0">
                <img src="menu.png"><!--ERRORE MANCA ALT-->
            </label>
            <input id="hamburger" type="checkbox">
            <dl>
                <dt><a href="index.php"><span lang="en">Home</span></a></dt>
                <dt><a href="generi.php">Generi:</a></dt>
                {listaGeneri}
                <dt><a href="accedi.php">Accedi</a></dt>
                <dt>Registrati</dt>
                <dt><a href="cerca.php">Cerca</a></dt>
            </dl>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <a href="index.php"><span lang="en">Home</span></a> &gt;&gt; Registrati</p>
        </nav>
        <main id="content">
            <section id="section_registrazione">
                <h2>Registrati</h2>
                <form id="registrationForm" action="registrati.php" method="post"
                onreset="return conferma('Sei sicuro/sicura di voler resettare tutti i campi inseriti?')" onsubmit="return validaRegistrazione()">
                    {messaggi}
                    <fieldset>
                        <legend>Dati personali</legend>
                        <p>Il nome e il cognome non possono essere più lunghi di 25 caratteri.</p>
                        <label for="name">Inserisci il tuo nome: </label><br>
                        <span><input type="text" id="name" name="name" maxlength="25" minlength="1" required></span><br>

                        <label for="cognome">Inserisci il tuo cognome: </label><br>
                        <span><input type="text" id="cognome" name="cognome" maxlength="25" minlength="1" required></span><br>

                        <label for="data">Inserisci la tua data di nascita: </label><br>
                        <span><input type="date" id="data" name="data" required></span><br>
                        
                        <label for="email">Indirizzo <span lang="en">Email</span>:</label><br>
                        <span><input type="email" id="email" name="email" maxlength="30" required></span>
                    </fieldset>
                    <fieldset>
                        <legend>Credenziali di accesso</legend>
                        <p>Lo <span lang="en">username</span> deve contenere tra i 3 e i 25 caratteri.</p>
                        <label for="username">Inserisci uno <span lang="en">username</span>: </label><br>
                        <span><input type="text" id="username" name="username" maxlength="25" minlength="3" required></span><br>
                        <p>
                            La <span lang="en">password</span> deve:
                            <ul>
                                <li>contenere almeno un numero;</li>
                                <li>contenere almeno una lettera maiuscola;</li>
                                <li>contenere almeno una lettera minuscola;</li>
                                <li>essere lunga almeno 8 caratteri.</li>
                            </ul>
                        </p>
                        <label for="password1">Inserisci la <span lang="en">password</span>:</label><br>
                        <span><input type="password" id="password1" name="password1" required></span><br>
                        <label for="password2">Ripeti la stessa <span lang="en">password</span>:</label><br>
                        <span><input type="password" id="password2" name="password2" required></span>
                    </fieldset>
                    <input type="submit" id="registrati" name="registrati" value="Registrati">
                    <input type="reset" value="Cancella">
                </form>
            </section>
        </main>
         <footer id="footer">
            <ul>
                <li><a href="contatti.php">Contatti</a></li>
                <li><a href="chisiamo.php">Chi siamo</a></li>
                <li><a href="privacy.php"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>