
<!--IN QUESTA PAGINA è IMPORTANTE IL RANKING!!!!!!!!!!!!!-->

<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>{TitoloLibro} - BookClub</title>
        <!--nome libro PHP-->
        <meta name="keywords" content="{keywords}">
        <!--come trovare le parole chiave?-->
        <meta name="description" content="">
        <meta name="author" content="Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
        <script src="conferme.js"></script>
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <label for="hamburger" tabindex="0">
                <img src="menu.png"><!--ERRORE MANCA ALT-->
            </label>
            <input id="hamburger" type="checkbox">
            <ul>
                {menu}<!--ERRORE MA CREDO VADA BENE -->
            </ul>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <a href="utente.php"><span lang="en">Home</span></a>&gt; &gt; <a href="genere.php?genere={GenereLibro}">{GenereLibro}</a> &gt; &gt; {TitoloLibro}</p>
        </nav>
        <main id="content">
            {messaggiErrore}
            {messaggiSuccesso}
            <div id="arealibro">
                <div id="datilibro">
                    <h2 id="titolo">{TitoloLibro}</h2>
                    <img src="{ImmagineLibro}" alt="{altlibro}" height="400">
                    <h3>Autore:</h3>
                    <p>{AutoreLibro}</p>
                    <h3>Genere:</h3>
                    <p>{GenereLibro}</p>
                    <h3>Lingua:</h3>
                    <p>{LinguaLibro}</p>
                    <h3>Numero capitoli:</h3>
                    <p>{CapitoliLibro}</p>

                    {bottoniAdmin}
                </div>
                <h3>Voto medio della nostra <span lang="en">community</span>: {mediavoti}</h3>
                
                <ul class="menulibro">
                    <li><a class="menulibro" href="#trama">Vai alla trama</a></li><!--ERRORE Element dd not allowed as child of element ul in this context. (Suppressing further errors from this subtree.)-->
                    {menupersonale}
                    <li><a class="menulibro" href="#community">Vai alle recensioni della <span lang="en">community</span></a></li><!--ERRORE Element dd not allowed as child of element ul in this context. (Suppressing further errors from this subtree.)-->
                </ul>
                <div id="datilibro">
                    <section id="trama">
                        <h3>Trama:</h3>
                        <p>{tramaLibro}</p>
                    </section>
                    {arearecensionevotoform}
                    <section id="community">
                        <h4>Recensioni della <span lang="en">community</span></h4>
                        {recensioniComunity}
                    </section>
                </div>
                <nav aria-label="Torna al form di ricerca">
                    <a class="torna_su" href="#content">Torna su</a>
                </nav> 
            </div>
        </main>
         <footer id="footer">
            <ul>
                <li><a href="contatti.php">Contatti</a></li>
                <li><a href="chisiamo.php">Chi siamo</a></li>
                <li><a href="privacy.php"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>