<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Catalogo libri - BookClub</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/tablet.css" media="screen and (max-width:900px)">
        <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width:600px)">
        <link rel="stylesheet" href="css/print.css" media="print">
        <link rel="stylesheet" href="css/imageReplace.css" media="screen">
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <label for="hamburger" tabindex="0">
                <img src="menu.png"><!--ERRORE MANCA ALT-->
            </label>
            <input id="hamburger" type="checkbox">
            <dl>
                <dt><a href="admin.php"><span lang="en">Home</span></a></dt>
                <dt><a href="aggiungi_libro.php">Aggiungi un libro</a></dt>
                <dt>Catalogo libri</dt>
                <dt><a href="tutti_utenti.php">Archivio utenti</a></dt>
                <dt><a href="generi.php">Generi:</a></dt>
                {listaGeneri} 
                <dt><a href="area_personale.php">Area personale</a></dt>
                <dt><a href="cerca.php">Cerca</a></dt>
            </dl><!--ERRORE MANCA DL-->
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <p>Ti trovi in: <a href="admin.php"><span lang="en">Home</span></a> &gt;&gt; Catalogo libri</p>
        </nav>
        <main id="content">
            {messaggiSuccesso}
            <h2>Tutti i libri</h2>
            <form method="post" action="tutti_libri.php">
                <label for="opzioni_ordinamento">Ordina per:</label>
                <select id="opzioni_ordinamento" name="opzione">
                    <option value="alfabetico" {selected_alfabetico}>Alfabetico</option>
                    <option value="popolarita" {selected_popolarita}>Popolarità</option>
                    <option value="piu_recente" {selected_piu_recente}>Inserito più di recente</option>
                    <option value="meno_recente" {selected_meno_recente}>Inserito meno di recente</option>
                </select>
                <input type="submit" value="Ordina" name="ordina" id="ordina">
            </form>
            {CatalogoLibri} 
            {torna_su}
        </main>
         <footer id="footer">
            <ul>
                <li><a href="contatti.php">Contatti</a></li>
                <li><a href="chisiamo.php">Chi siamo</a></li>
                <li><a href="privacy.php"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>