<!--IN QUESTA PAGINA è IMPORTANTE!!!!!!!!!!!!! IL RANKING-->
<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>{TitoloLibro} - BookClub</title>
        <!--nome libro PHP-->
        <meta name="keywords" content="{parolechiavelibro}">
        <!--come trovare le parole chiave?-->
        <meta name="description" content="">
        <meta name="author" content="Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola">
        <!--<link rel="stylesheet" href="css/style.css">-->
    </head>
    <body>
        <nav id="logo"><img src="logo.png" alt="Il logo è un libro aperto"></nav>
        <header id="header">
            <nav aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav> 
            <h1 class="titolo"><span lang="en">BookClub</span></h1>
        </header>
        <nav id="menu">
            <dl>
                <dt><a href="templateHomeUtente.html"><span lang="en">Home</span></a></dt>
                <dt><a href="templateStaiLeggendo.html">Libri che stai leggendo</a></dt>
                <dt><a href="templateTerminati.html">Libri terminati</a></dt>
                <dt><a href="templateDaLeggere.html">Libri da leggere</a></dt>
                <dt><a href="templateAggiungiRecensione.html">Aggiungi Recensione</a></dt>
                <!--dove può inserire una recensione? solo dal libro, solo dalla home, dalla pagina letti? o dappertutto?-->
                <dt>Lista Generi:</dt>
                {listaGeneri}
                <!--php x menu con categorie link a templategenere-->
                <dt><a href="templateStatisticheUtente.html">Statistiche</a></dt>
                <dt><a href="templateAreaPersonale.html">Area Personale</a></dt>
                <dt><a href="templateCerca.html">Cerca</a></dt>
            </dl>
        </nav>
        <nav id="breadcrumbs" aria-label="Percorso">
            <!--come ricordarsi da dove è entrato? dalla home , da letti , da leggere o da eliminati? o da generi?-->
            <p>Ti trovi in: <a href="templateHomeUtente.html"><span lang="en">Home</span></a>&gt; &gt; {genereLibro o altro percorso} &gt; &gt; {TitoloLibro}</p>
        </nav>
        <main id="content">
            <img src="copertina" alt=""> <!--immagine con alt specifico-->
            <h2>{Titolo Libro}</h2>
            <h3>Autore :{AutoreLibro}</h3>
            <h3>Genere :{AutoreLibro}</h3>
            <h3>Lingua :{AutoreLibro}</h3>
            <h3>Numero capitoli :{AutoreLibro}</h3>
            <h3>Casa editrice :{AutoreLibro}</h3>
            <h3>Trama :{AutoreLibro}</h3>
            <h3>La tua Recensione:</h3>
            {recensione}
            <!--se non è un utente registrato mettere accedi se ha un account allora mettere la sua recensione se no mettere il link all'accesso -->
            <h4>Recensioni della <span lang="en">community</span></h4>{recensioniComunity}
        </main>
        <footer id="footer">
            <ul>
                <li><a href="contatti.html">Contatti</a></li>
                <li><a href="chisiamo.html">Chi siamo</a></li>
                <li><a href="privacy.html"><span lang="en">Privacy</span></a></li>
            </ul>
            <p>Baldo Leonardo, Dall'Amico Martina, Meneghini Fabio, Lazzarin Nicola - <span lang="en">All rights reserved</span></p>
        </footer>
    </body>
</html>