*{
    margin:0;
    padding:0;
}

:root{
    --flagColor : #36502A;
    --background: white;
    --textColor: white;
}

html{
    font-size: 100%;
    line-height: 1.5em;
    margin: auto;
    background-color: var(--background);

}

header{
    background-color: var(--flagColor);
    color: var(--textColor);
    text-align: center;
    padding: 1.5em;
    font-size: 1.5em;
}

#menu{
    background-color: var(--flagColor) ;
    margin-right: 90%;
    color: var(--textColor);
}

body{
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

.genere{
    background-color: var(--flagColor);
}

footer{
    bottom: 0;
    width: 100%;
    background-color: var(--flagColor);
    color: var(--textColor);
    text-align: center;
    padding: 1em 0em;
    margin-top: auto;
}

footer ul{
    position:;
    padding: 0.5em;
}

footer ul li{
    display: inline-block;
    padding: 0em 4em;
}
